$logoHeight: 40px;
$logoMobilePadding: 0.5rem;
$logoDesktopVerticalPadding: 0.75rem;

header {
  background: $white;
  position: relative;
  z-index: 2;

  .logo-wrap {
    display: flex;
    justify-content: space-between;
    padding: $logoMobilePadding;
    background: $white;

    a:hover,
    a:focus {
      text-decoration: none;
    }
  }

  .site-logo {
    background-color: $white;
    background-image: url('/assets/img/logo-mozillascience.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: $logoHeight;
    margin: 0;
    width: 174px;
    overflow: hidden;
    transition: opacity 0.4s ease 0s;

    a {
      color: inherit;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  .nav {
    background: rgba($nightly-blue, 0.96);
    padding: 0 1em;
    position: absolute;
    transform: translateY(-100%);
    transition: transform linear 0.25s;
    width: 100%;
    min-height: calc(100vh - #{$logoHeight} - #{$logoMobilePadding});
    z-index: -1;
  }

  .isOpen {
    transform: translateY(0%);
  }

  .menu-button {
    padding: 0.7em;
    cursor: pointer;
  }

  .nav-link {
    font-size: 1rem;
    line-height: 2;
    margin: 0.5em 0;
  }

  .slideout-menu {
    margin-left: 1.25rem;

    .nav-link {
      font-size: 0.875rem;
    }
  }

  .dropdown-menu {
    display: block;
  }

  .nav-link {
    color: $white;
    display: block;
  }

  .auth-links .nav-link {
    display: inline-block;

    & + .nav-link {
      margin-left: 0.625rem;

      &::before {
        content: '|';
        margin-right: 0.625rem;
      }
    }
  }

  @media (min-width: 55rem) {
    display: flex;
    z-index: 10;

    .site-logo {
      margin: 0;
      padding: 0;
    }

    .logo-wrap {
      padding: $logoDesktopVerticalPadding 1.25rem;
    }

    .menu-button {
      display: none;
    }

    .nav {
      display: flex;
      flex: 1;
      background: $white;
      min-height: 0;
      z-index: auto;
      transform: none;
      position: static;
      justify-content: space-between;
    }

    .nav-item > .nav-link::after {
      content: '';
      background-image: url("/assets/img/icon-arrow.svg");
      width: 0.625rem;
      height: 0.625rem;
      background-repeat: no-repeat;
      display: inline-block;
      background-position: center;
      margin-left: 0.25em;
      transition: transform 0.25s ease-out, filter 0.25s ease-out;
      transform: rotate(0);
      filter: contrast(0%);
    }

    .nav-item.open > .nav-link {
      color: black;
    }

    .nav-item.open > .nav-link::after {
      transform: rotate(180deg);
      filter: brightness(0%);
    }

    .nav-links {
      display: flex;
      align-items: flex-end;
    }

    .nav-link {
      color: $gray-light;
      font-weight: 300;
      cursor: pointer;
      margin: 0 1em 1.5em;
      line-height: 1;
      transition: color 0.3s ease, filter 0.3s ease;
    }

    .nav-link.active,
    .nav-link:hover {
      color: $black;

      &::after {
        filter: brightness(0%);
      }
    }

    .slideout-menu .nav-link {
      color: $white;
    }

    .slideout-menu {
      color: $white;
      position: absolute;
      //height of top nav
      top: calc(#{$logoHeight} + #{2 * $logoDesktopVerticalPadding});
      left: 0;
      margin: 0;
      background: rgba($nightly-blue, 0.95);
      width: 100%;
      display: flex;
      z-index: -1;
      transition: transform ease-out 200ms;
      transform: translateY(-100%);
      justify-content: center;

      &.active {
        transform: translateY(0%);
      }

      .nav-link {
        margin: 1.6875rem;
        flex-basis: 6.875rem;
        text-align: center;
      }
    }

    .slideout-menu > .nav-link::before {
      content: '';
      background-position: center;
      background-size: 2.1875rem;
      background-repeat: no-repeat;
      height: 2.1875rem;
      display: block;
      margin-bottom: 0.9375rem;
    }

    .events::before {
      background-image: url('/assets/img/icon-events.svg');
    }

    .study-groups::before {
      background-image: url('/assets/img/icon-studygroups.svg');
    }

    .fellowships::before {
      background-image: url('/assets/img/icon-fellowships.svg');
    }

    .auth-links {
      display: flex;
      align-self: flex-end;
      align-items: center;
    }

    .auth-links .nav-link {
      text-transform: uppercase;
      color: $mobile-blue;
    }

    .auth-links .join {
      border: 1px solid;
      padding: 0.5em 1em;
    }

    .auth-links .nav-link + .nav-link::before {
      content: none;
    }
  }
}
