.menu-button {
  background-position: center;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  &.closeX {
    background-image: url('/assets/img/menu-close.svg');
  }
  &.hamburger {
    background-image: url('/assets/img/menu-burger.svg');
  }
}
