include ../partials/head.jade
include ../partials/header.jade
include ../partials/footer.jade

-var page = "Event"

doctype html5
html
  head
    +head(ev.title || page)
  body
    +header(loggedIn, page)
    div.page-wrapper.user-page
      section.project
        div
          h1 #{ev.title + '  '}
          p
            i= ev.where
            span= ' | ' + moment(ev.start).format("MMM D, h:mm") + ' - ' + moment(ev.end).format("h:mm")
          div.pure-u-1
            div(style="padding-bottom:2em")
              img(src=(ev.image_url || '/img/communitycall.jpg'))

          div.pure-u-1
            p!=ev.description


            h2 Mozilla Science Lab Community Call Details
            p
              | 8:00 am PT / 11:00 am ET / 4:00 pm BT / 7:00 pm East Africa
              br
              | Wiki:
              a(href="https://wiki.mozilla.org/ScienceLab/Calls")  https://wiki.mozilla.org/ScienceLab/Calls
              br
              | Archive:
              a(href="https://wiki.mozilla.org/ScienceLab/Calls#Call_archives")  https://wiki.mozilla.org/ScienceLab/Calls#Call_archives
              br
              | Email:
              a(href="mailto:sciencelab@mozillafoundation.org")  sciencelab@mozillafoundation.org


            ul
              li Phone Number: +1 800 707 2533, password 369
              li Room code (conference number): 7677
              li Note:  you can call the 1-800 number free of charge using Skype or other VoIP clients


          if(ev.facilitators.length > 0)
            h3 FACILITATORS
            div#event-people(data-url="/api/events/" + ev.slug + "/people")


    +footer(page)
