include ../partials/head.jade
include ../partials/header.jade
include ../partials/footer.jade

-var page = "Event"

doctype html5
html
  head
    +head(ev.title || page)


    link(href="/media/mapglyphs/2.0/mapglyphs.css" rel="stylesheet")
  body
    +header(loggedIn, page)
    div.page-wrapper
      section.project
        div
          h1 #{ev.title + '  '}
          p
            i= ev.where
            span= ' | ' + moment(ev.start).format("MMM D") + ' - ' + moment(ev.end).format("MMM D YYYY")
          //if(ev.start > moment())
            div(style="padding-bottom:2em")
              button.pure-button.pure-button-lg(data-toggle="modal" data-target="#register") Register
          div.pure-u-1
            div(style="padding-bottom:2em")
              iframe(src="https://auremoser.cartodb.com/viz/ed575994-f063-11e5-a94e-0e3ff518bd15/embed_map" width="100%" height="480")

          div.pure-u-1
            p Join us as we learn to collaboratively build projects transforming science on the web!

            p
             | This two-day sprint event brings together researchers, coders, librarians and the public from around the globe to hack on open science and open data projects in their communities. This year, we have four tracks you can contribute to:
             a(href="https://github.com/mozillascience/global-sprint-2016/issues?q=is%3Aissue+is%3Aopen+label%3A%22%5BTrack%5D+Tools%22" target="_blank")  tools
             | ,
             a(href="https://github.com/mozillascience/global-sprint-2016/labels/%5BTrack%5D%20Citizen%20Science" target="_blank")  citizen science
             | ,
             a(href="https://github.com/mozillascience/global-sprint-2016/issues?q=is%3Aissue+is%3Aopen+label%3A%22%5BTrack%5D+Open+Educational+Resources%22" target="_blank")  open educational resources
             |  and
             a(href="https://github.com/mozillascience/global-sprint-2016/labels/%5BTrack%5D%20Open%20Data" target="_blank")  open data
             | . Take a look at the
             a(href="https://github.com/mozillascience/global-sprint-2016/issues" target="_blank")  full list of projects
             |  taking part of sprint.

          h2(id="sites") REGISTER
          p Find a site near you to register for the Global Sprint! We have >25 sites from all over the world participating in our #mozsprint this year! Don't see your site? We're still posting locations, hang tight!

          div.map-sites
            div.pure-u-lg-1-5.pure-u-sm-1-3
              i.mg.mg-5x.map-us
              hr
              h3 USA
              h4
                a(target="_blank" href="https://ti.to/mozilla-science/gs2016-berkeley") Berkeley, CA
              h4
                a(target="_blank" href="https://ti.to/mozilla-science/gs2016-charlottesville") Charlottesville, NC
              h4
                a(target="_blank" href="https://ti.to/mozilla-science/gs2016-chicago") Chicago, IL
              h4
                a(target="_blank" href="https://ti.to/mozilla-science/gs2016-newyork") New York, NY
              h4
                a(target="_blank" href="https://ti.to/mozilla-science/gs2016-seattle") Seattle, WA
              h4
                a(target="_blank" href="https://ti.to/mozilla-science/gs2016-st-paul") St Paul, MN




            div.pure-u-lg-1-5.pure-u-sm-1-3
              i.mg.mg-5x.map-in
              hr
              h3 INDIA
              h4
                a(target="_blank" href="https://ti.to/mozilla-science/gs2016-bangalore") Bangalore
              h4
                a(target="_blank" href="https://ti.to/mozilla-science/gs2016-barasat") Barasat
              h4
                a(target="_blank" href="https://ti.to/mozilla-science/gs2016-chennai") Chennai
              h4
                a(target="_blank" href="https://ti.to/mozilla-science/gs2016-hyderabad") Hyderabad
              h4
                a(target="_blank" href="https://ti.to/mozilla-science/gs2016-madurai") Madurai
            div.pure-u-lg-1-5.pure-u-sm-1-3
              i.mg.mg-5x.map-uk
              hr
              h3 UK
              h4
                a(target="_blank" href="https://ti.to/mozilla-science/gs2016-edinburgh ") Edinburgh
              h4
                a(target="_blank" href="https://ti.to/mozilla-science/gs2016-exeter") Exeter
              h4
                a(target="_blank" href="https://ti.to/mozilla-science/gs2016-london-uk ") London
              h4
                a(target="_blank" href="https://ti.to/mozilla-science/gs2016-norwich-uk") Norwich
            div.pure-u-lg-1-5.pure-u-sm-1-3
              i.mg.mg-5x.map-au
              hr
              h3 AUSTRALIA
              h4
                a(target="_blank" href="https://ti.to/mozilla-science/gs2016-brisban") Brisbane
              h4
                a(target="_blank" href="https://ti.to/mozilla-science/gs2016-melbourne") Melbourne
              h4
                a(target="_blank" href="https://ti.to/mozilla-science/gs2016-perth") Perth

            div.pure-u-lg-1-5.pure-u-sm-1-3
              i.mg.mg-5x.map-ca
              hr
              h3 CANADA
              h4
                a(target="_blank" href="https://ti.to/mozilla-science/gs2016-toronto") Toronto, ON
              h4
                a(target="_blank" href="https://ti.to/mozilla-science/gs2016-vancouver") Vancouver, BC
            div.pure-u-lg-1-5.pure-u-sm-1-3
              i.mg.mg-5x.map-ci
              hr
              h3 COTE D'IVOIRE
              h4
                a(target="_blank" href="https://ti.to/mozilla-science/gs2016-abidjan") Abidjan
            div.pure-u-lg-1-5.pure-u-sm-1-3
              i.mg.mg-5x.map-fr
              hr
              h3 FRANCE
              h4
                a(target="_blank" href="https://ti.to/mozilla-science/gs2016-villeneuve-d-Ascq") Lille
            div.pure-u-lg-1-5.pure-u-sm-1-3
              i.mg.mg-5x.map-es
              hr
              h3 SPAIN
              h4
                a(target="_blank" href="https://ti.to/mozilla-science/gs2016-la-orotava") La Orotava
            div.pure-u-lg-1-5.pure-u-sm-1-3
              i.mg.mg-5x.map-ch
              hr
              h3 SWITZERLAND
              h4
                a(target="_blank" href="https://ti.to/mozilla-science/gs2016-geneva") Geneva
          p
            | Don't see a site near you? If you have a space for people to gather and work, a strong wifi connection, and perhaps some coffee,
            | we'd love to have you host a site. Complete our
            a(href="https://docs.google.com/forms/d/1uN5Q535pib0YxeZWWv1VlSdLig5mdjCWm2MuEaXz8fE/viewform" target="_blank")  Site Host Submission form
            |  and we'll help you get started.
          br

          h2(id="projects") PROJECTS
          p
            p
              | This year, we have four tracks you can contribute to:
              ul
                li
                  a(href="https://github.com/mozillascience/global-sprint-2016/issues?q=is%3Aissue+is%3Aopen+label%3A%22%5BTrack%5D+Tools%22") tools
                  | ,
                li
                  a(href="https://github.com/mozillascience/global-sprint-2016/labels/%5BTrack%5D%20Citizen%20Science") citizen science
                  | ,
                li
                  a(href="https://github.com/mozillascience/global-sprint-2016/issues?q=is%3Aissue+is%3Aopen+label%3A%22%5BTrack%5D+Open+Educational+Resources%22") open educational resources
                  | , and
                li
                  a(href="https://github.com/mozillascience/global-sprint-2016/labels/%5BTrack%5D%20Open%20Data") open data

            p
              | Browse our featured projects below or see our
              a(href="https://github.com/mozillascience/global-sprint-2016/issues")  full list of projects
              |  furthering open science that will be a part of this #mozsprint. Have an idea?
              a(href="https://docs.google.com/forms/d/16M_SiiJkmrkkSONpgd0ERUHLkr1WF4WWXZJIwvurzIs/viewform" target="_blank")  Add your own project here
              | !


          div#event-projects(data-url="/api/events/" + ev.slug + "/projects")

          br
          br




          if(ev.facilitators.length > 0)
            h2 FACILITATORS
            div#event-people(data-url="/api/events/" + ev.slug + "/people")

          if(ev.attending.length > 0)
            h2 PARTICIPANTS
            div#event-attending(data-url="/api/events/" + ev.slug + "/attending")

          //if(ev.start > moment())
            button.pure-button.pure-button-lg(data-toggle="modal" data-target="#register") Register
          br
          br
          br
          br
          p
            | Interested? Drop us a note at
            a(href="mailto:sciencelab@mozillafoundation.org")  sciencelab@mozillafoundation.org
            | . You can also
            a(href="https://docs.google.com/forms/d/1uN5Q535pib0YxeZWWv1VlSdLig5mdjCWm2MuEaXz8fE/viewform")  apply to host a site
            |  or
            a(href="https://docs.google.com/forms/d/16M_SiiJkmrkkSONpgd0ERUHLkr1WF4WWXZJIwvurzIs/viewform")  add your project ideas
            | .
          p
            | We hope you'll come and collaborate with us as we transform science on the web.

          p
            a(href="http://mapglyphs.com/?ref=attr") Map Icons by MapGlyphs.com
            |  CC BY-ND 3.0



          div.modal.fade#register(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
              div.modal-dialog
                div.modal-content
                  div.modal-header
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                      span(aria-hidden="true") &times;
                    h3.modal-title#modalLabel
                        | Register for the Mozilla Science Global Sprint
                  div.modal-body
                    p Ready to join us for two days of learning and building together? To register:
                      ol
                        li
                          | Go to our
                          a(href="https://etherpad.mozilla.org/sciencelab-2015globalsprint" target="_blank")  Planning Etherpad
                        li Find a listed site near you (sites start after line 162)
                        li
                          | Add your name/twitter/github under
                          b  'Participants'
                          |  for that site
                    p
                      | Can't find a site near you? You can still join us remotely! Add your name under
                      b  'Remote Participants'
                      |  at the bottom of the pad
                  div.modal-footer
                    button.pure-button.light(type="button" data-dismiss="modal") Close
                    //if(user)
                      a.pure-button(type="button" href="/api/events/" + ev.slug + '/attend') Register
                    //else
                      a.pure-button(type="button" href="/auth/github") Sign in to Register


    +footer(page)
