include ../partials/head.jade
include ../partials/header.jade
include ../partials/footer.jade

-var page = "MozFest 2015"

doctype html5
html
  head
    +head(ev.title || page)
  body
    +header(loggedIn, page)
    div.page-wrapper
      section.project
        div
          h1 #{ev.title + '  '}
          p
            i= ev.where
            span= ' | ' + moment(ev.start).format("MMM D") + ' - ' + moment(ev.end).format("MMM D YYYY")
          if(ev.start > moment())
            div(style="padding-bottom:2em")
              a(href="https://2015.mozillafestival.org/tickets")
                button.pure-button.pure-button-lg Register
          div.pure-u-1
            div(style="padding-bottom:2em")
              img(src="/img/mozfest2015.png")

          div.pure-u-1

            h2 The Open Science Track
            p Science is for everyone, and helps us understand the world around us. The Open Science track offers a space to be curious, tinker, learn new tools and skills, and hack together on projects and data. Interested in citizen science, open data, learning or research? Join us to get help with your project, learn new data and collaboration skills, and get your hands dirty playing with tools to apply to your work.

            p This track is for science hobbyists, researchers, librarians, and those working with data. There will be participatory sessions focusing on specific tools and projects, as well as trainings on tools like GitHub, citizen science, open mapping, and skills to help you get your hands dirty with data.

            h2 The Festival
            p MozFest runs for three days beginning on Friday evening with a 'Science Fair', where we demo exciting projects from across the web. Saturday and Sunday are full days of sessions, hacking and good coffee. There is a party on Saturday night, and the festival ends on Sunday evening with a closing demo party, showcasing what we made together.


          h2 OPEN SCIENCE SPACE SCHEDULE

          p We're still updating our schedule to bring you the best Open Science expereince possible at MozFest. Keep checking this space for more updates!

          div.pure-u-1.mozfest-tracks

            div.pure-u-sm-1-3
              span.fa.fa-stack.fa-lg
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-pencil.fa-stack-1x.fa-inverse
              h4 Track 1: Sprint.
              p There are hands-on, participatory sessions. Work through problems, run demos and/or brainstorm with the group.

            div.pure-u-sm-1-3
              span.fa.fa-stack.fa-lg
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-graduation-cap.fa-stack-1x.fa-inverse
              h4 Track 2: Training
              p Learn new skills and technologies in these interactive trainings.

            div.pure-u-sm-1-3
              span.fa.fa-stack.fa-lg
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-group.fa-stack-1x.fa-inverse
              h4 Track 3: Share & Help
              p Share your progress and help your peers. These are discussions & help sessions.

          h3 SATURDAY, NOVEMBER 7

          div.
            <table dir="ltr" style="table-layout:fixed;font-size:13px;font-family:arial,sans,sans-serif;border-collapse:collapse;border:1px solid rgb(255,255,255)" cellpadding="0" cellspacing="0">
              <colgroup>
                <col width="119">
                <col width="403">
                <col width="178">
                <col width="186">
                <col width="228">
              </colgroup>
              <tbody>
                <tr style="height:21px">
                  <td style="padding:2px 3px;vertical-align:bottom;border-bottom:1px solid rgb(0,0,0)"><br></td>
                  <td style="padding:2px 3px;font-size:100%;font-style:italic;vertical-align:top;text-align:center;border-bottom:1px solid rgb(0,0,0)">Sprints have rolling start times and may continue working into the next session</td>
                  <td style="padding:2px 3px;vertical-align:bottom;border-bottom:1px solid rgb(0,0,0)"><br></td>
                  <td style="padding:2px 3px;vertical-align:bottom;border-bottom:1px solid rgb(0,0,0)"><br></td>
                  <td style="padding:2px 3px;vertical-align:bottom;border-bottom:1px solid rgb(0,0,0)"><br></td>
                </tr>
                <tr style="height:21px">
                  <td style="padding:2px 3px;vertical-align:bottom;border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);border-left:1px solid rgb(0,0,0);font-size:100%;font-weight:bold;text-align:center">Time</td>
                  <td style="padding:2px 3px;border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);font-size:100%;font-weight:bold;vertical-align:top;text-align:center">Track 1: Sprint</td>
                  <td style="padding:2px 3px;border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);font-size:100%;font-weight:bold;vertical-align:top;text-align:center" rowspan="1" colspan="2">Track 2: Training</td>
                  <td style="padding:2px 3px;border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);font-size:100%;font-weight:bold;vertical-align:top;text-align:center">Track 3: Share &amp; Help</td>
                </tr>
                <tr style="height:21px">
                  <td style="padding:2px 3px;vertical-align:bottom;background-color:rgb(255,242,204);border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);border-left:1px solid rgb(0,0,0);font-size:100%;font-weight:bold;text-align:right">9:00 - 10:30</td>
                  <td style="padding:2px 3px;vertical-align:bottom;background-color:rgb(255,242,204);border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);font-size:100%;font-weight:bold;text-align:center" rowspan="1" colspan="4">Welcome &amp; Opening Keynotes</td>
                </tr>
                <tr style="height:21px">
                  <td style="padding:2px 3px;vertical-align:bottom;border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);border-left:1px solid rgb(0,0,0);font-size:100%;font-weight:bold;text-align:right" rowspan="3" colspan="1">
                    <span>
                      <div style="max-height:78px">10:45 - 11:45</div>
                    </span>
                  </td>
                  <td style="padding:2px 3px;vertical-align:bottom;font-size:100%;border-right:1px solid rgb(0,0,0)">Putting the world in its place: Geocoders, their promise and pitfalls</td>
                  <td style="padding:2px 3px;border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);font-size:100%;white-space:normal;word-wrap:break-word;vertical-align:top;text-align:left" rowspan="7" colspan="1">
                    <span>
                      <div style="max-height:162px">GitHub 101</div>
                    </span>
                  </td>
                  <td style="padding:2px 3px;border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);font-size:100%;white-space:normal;word-wrap:break-word;vertical-align:top;text-align:left" rowspan="3" colspan="1">
                    <span>
                      <div style="max-height:78px">Content Mining for Transparency of Drug Research</div>
                    </span>
                  </td>
                  <td style="padding:2px 3px;background-color:rgb(255,255,255);border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);font-size:100%;font-style:italic;white-space:normal;word-wrap:break-word;vertical-align:top;text-align:left" rowspan="3" colspan="1">
                    <span>
                      <div style="max-height:78px">Ongoing: Office Hours</div>
                    </span>
                  </td>
                </tr>
                <tr style="height:21px">
                  <td style="padding:2px 3px;font-size:100%;white-space:normal;word-wrap:break-word;vertical-align:top;text-align:left;border-right:1px solid rgb(0,0,0)">YA3C : Yet another 3D Controller</td>
                </tr>
                <tr style="height:21px">
                  <td style="padding:2px 3px;font-size:100%;white-space:normal;word-wrap:break-word;vertical-align:top;border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0)">Critical Care Datathon: Answering clinically relevant questions with the MIMIC Critical Care Dataset</td>
                </tr>
                <tr style="height:21px">
                  <td style="padding:2px 3px;vertical-align:bottom;background-color:rgb(217,217,217);border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);border-left:1px solid rgb(0,0,0);font-size:100%;font-weight:bold;text-align:right">11:45 - 12:00</td>
                  <td style="padding:2px 3px;background-color:rgb(217,217,217);border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);font-size:100%;font-style:italic;white-space:normal;word-wrap:break-word;vertical-align:top;text-align:center">Break</td>
                  <td style="padding:2px 3px;background-color:rgb(217,217,217);border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);font-size:100%;font-style:italic;white-space:normal;word-wrap:break-word;vertical-align:top;text-align:center" rowspan="1" colspan="2">Break</td>
                </tr>
                <tr style="height:21px">
                  <td style="padding:2px 3px;vertical-align:bottom;background-color:rgb(255,255,255);border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);border-left:1px solid rgb(0,0,0);font-size:100%;font-weight:bold;text-align:right" rowspan="3" colspan="1">
                    <span>
                      <div style="max-height:62px">12:00 - 13:00</div>
                    </span>
                  </td>
                  <td style="padding:2px 3px;font-size:100%;white-space:normal;word-wrap:break-word;vertical-align:bottom;border-right:1px solid rgb(0,0,0)">Using open source tools to analyze police data</td>
                  <td style="padding:2px 3px;vertical-align:bottom;background-color:rgb(239,239,239);border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0)" rowspan="3" colspan="1"><span></span><br></td>
                  <td style="padding:2px 3px;background-color:rgb(255,255,255);border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);font-size:100%;white-space:normal;word-wrap:break-word;vertical-align:top;text-align:left" rowspan="3" colspan="1">
                    <span>
                      <div style="max-height:62px">Open Science Help Desk</div>
                    </span>
                  </td>
                </tr>
                <tr style="height:21px">
                  <td style="padding:2px 3px;font-size:100%;white-space:normal;word-wrap:break-word;vertical-align:top;border-right:1px solid rgb(0,0,0)">An Open IoT Stack for Schools</td>
                </tr>
                <tr style="height:21px">
                  <td style="padding:2px 3px;border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);font-size:100%;white-space:normal;word-wrap:break-word;vertical-align:top;text-align:left">Start an open science study group</td>
                </tr>
                <tr style="height:21px">
                  <td style="padding:2px 3px;vertical-align:bottom;background-color:rgb(255,242,204);border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);border-left:1px solid rgb(0,0,0);font-size:100%;font-weight:bold;text-align:right">13:00 - 14:15</td>
                  <td style="padding:2px 3px;background-color:rgb(255,242,204);border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);font-size:100%;font-weight:bold;white-space:normal;word-wrap:break-word;vertical-align:top;text-align:center" rowspan="1" colspan="4">Lunch</td>
                </tr>
                <tr style="height:21px">
                  <td style="padding:2px 3px;vertical-align:bottom;background-color:rgb(255,255,255);border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);border-left:1px solid rgb(0,0,0);font-size:100%;font-weight:bold;text-align:right" rowspan="3" colspan="1">
                    <span>
                      <div style="max-height:62px">14:15 - 15:15</div>
                    </span>
                  </td>
                  <td style="padding:2px 3px;vertical-align:bottom;font-size:100%;border-right:1px solid rgb(0,0,0)">Full Moon Academy</td>
                  <td style="padding:2px 3px;background-color:rgb(255,255,255);border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);font-size:100%;white-space:normal;word-wrap:break-word;vertical-align:top;text-align:left" rowspan="3" colspan="1">
                    <span>
                      <div style="max-height:62px">Disassembling the world's worst data wrapper: PDFs</div>
                    </span>
                  </td>
                  <td style="padding:2px 3px;background-color:rgb(244,204,204);border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);font-size:100%;white-space:normal;word-wrap:break-word;vertical-align:top;text-align:left" rowspan="3" colspan="1">
                    <span>
                      <div style="max-height:62px">How to run an Open Source Scientific Project</div>
                    </span>
                  </td>
                  <td style="padding:2px 3px;background-color:rgb(255,255,255);border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);font-size:100%;font-style:italic;white-space:normal;word-wrap:break-word;vertical-align:top;text-align:left" rowspan="3" colspan="1">
                    <span>
                      <div style="max-height:62px">Ongoing: Office Hours</div>
                    </span>
                  </td>
                </tr>
                <tr style="height:21px">
                  <td style="padding:2px 3px;font-size:100%;white-space:normal;word-wrap:break-word;vertical-align:top;border-right:1px solid rgb(0,0,0)">Tools to fulfill your wildest data dreams</td>
                </tr>
                <tr style="height:21px">
                  <td style="padding:2px 3px;font-size:100%;vertical-align:bottom;border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0)">We are the Rangerss: Minecraft map using open data</td>
                </tr>
                <tr style="height:21px">
                  <td style="padding:2px 3px;vertical-align:bottom;background-color:rgb(217,217,217);border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);border-left:1px solid rgb(0,0,0);font-size:100%;font-weight:bold;text-align:right">15:15 - 15:30</td>
                  <td style="padding:2px 3px;background-color:rgb(217,217,217);border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);font-size:100%;font-style:italic;white-space:normal;word-wrap:break-word;vertical-align:top;text-align:center" rowspan="1" colspan="4">Break</td>
                </tr>
                <tr style="height:21px">
                  <td style="padding:2px 3px;vertical-align:bottom;border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);border-left:1px solid rgb(0,0,0);font-size:100%;font-weight:bold;text-align:right" rowspan="3" colspan="1">
                    <span>
                      <div style="max-height:78px">15:30 - 16:30</div>
                    </span>
                  </td>
                  <td style="padding:2px 3px;font-size:100%;white-space:normal;word-wrap:break-word;vertical-align:top;border-right:1px solid rgb(0,0,0)">Your data is good, my data is good, OUR data is incredible!</td>
                  <td style="padding:2px 3px;border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);font-size:100%;white-space:normal;word-wrap:break-word;vertical-align:top;text-align:left" rowspan="3" colspan="2">
                    <span>
                      <div style="max-height:78px">Jupyter notebooks and Python data analysis</div>
                    </span>
                  </td>
                  <td style="padding:2px 3px;background-color:rgb(244,204,204);border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);font-size:100%;white-space:normal;word-wrap:break-word;vertical-align:top;text-align:left" rowspan="3" colspan="1">
                    <span>
                      <div style="max-height:78px">Open Research Acclerator: 1-on-1 Mentor Help</div>
                    </span>
                  </td>
                </tr>
                <tr style="height:21px">
                  <td style="padding:2px 3px;font-size:100%;white-space:normal;word-wrap:break-word;vertical-align:top;border-right:1px solid rgb(0,0,0)">Analysing and visualising network data</td>
                </tr>
                <tr style="height:21px">
                  <td style="padding:2px 3px;vertical-align:bottom;font-size:100%;white-space:normal;word-wrap:break-word;border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0)">The Student's and Researcher's Guide to Discovery: Exploring Scientific Fields with Open Data and Tools</td>
                </tr>
                <tr style="height:21px">
                  <td style="padding:2px 3px;vertical-align:bottom;background-color:rgb(255,242,204);border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);border-left:1px solid rgb(0,0,0);font-size:100%;font-weight:bold;text-align:right">17:00 - 18:30</td>
                  <td style="padding:2px 3px;background-color:rgb(255,242,204);border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);font-size:100%;font-weight:bold;vertical-align:top;text-align:center" rowspan="1" colspan="4">Lightning Talks</td>
                </tr>
                <tr style="height:21px">
                  <td style="padding:2px 3px;vertical-align:bottom;background-color:rgb(255,242,204);border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);border-left:1px solid rgb(0,0,0);font-size:100%;font-weight:bold;text-align:right">19:00 - 1:00</td>
                  <td style="padding:2px 3px;background-color:rgb(255,242,204);border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);font-size:100%;font-weight:bold;vertical-align:top;text-align:center" rowspan="1" colspan="4">Saturday Night Partee at NAMCO</td>
                </tr>
                <tr style="height:21px">
                  <td style="padding:2px 3px;vertical-align:bottom"><br></td>
                  <td style="padding:2px 3px;font-size:100%;font-style:italic;vertical-align:top;text-align:center">Sprints have rolling start times and may continue working into the next session</td>
                  <td style="padding:2px 3px;vertical-align:bottom"><br></td>
                  <td style="padding:2px 3px;vertical-align:bottom"><br></td>
                  <td style="padding:2px 3px;vertical-align:bottom"><br></td>
                </tr>
              </tbody>
            </table>

          div(style="float:right").pathways
            span(style="padding:5px;border:1px solid rgb(0, 0, 0);background-color:rgb(244, 204, 204)")
              a(href="#ora") Open Research Accelerator

          h3 SUNDAY, NOVEMBER 8

          div.
            <table dir="ltr" style="table-layout:fixed;font-size:13px;font-family:arial,sans,sans-serif;border-collapse:collapse;border:1px solid rgb(255,255,255)" cellpadding="0" cellspacing="0">
              <colgroup>
                <col width="119">
                <col width="403">
                <col width="178">
                <col width="186">
                <col width="228">
              </colgroup>
              <tbody>
                <tr style="height:21px">
                  <td style="padding:2px 3px;vertical-align:bottom;border-bottom:1px solid rgb(0,0,0)"><br></td>
                  <td style="padding:2px 3px;font-size:100%;font-style:italic;vertical-align:top;text-align:center;border-bottom:1px solid rgb(0,0,0)">Sprints have rolling start times and may continue working into the next session</td>
                  <td style="padding:2px 3px;vertical-align:bottom;border-bottom:1px solid rgb(0,0,0)"><br></td>
                  <td style="padding:2px 3px;vertical-align:bottom;border-bottom:1px solid rgb(0,0,0)"><br></td>
                  <td style="padding:2px 3px;vertical-align:bottom;border-bottom:1px solid rgb(0,0,0)"><br></td>
                </tr>
                <tr style="height:21px">
                  <td style="padding:2px 3px;vertical-align:bottom;border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);border-left:1px solid rgb(0,0,0);font-size:100%;font-weight:bold;text-align:center">Time</td>
                  <td style="padding:2px 3px;border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);font-size:100%;font-weight:bold;vertical-align:top;text-align:center">Track 1: Sprint</td>
                  <td style="padding:2px 3px;border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);font-size:100%;font-weight:bold;vertical-align:top;text-align:center" rowspan="1" colspan="2">Track 2: Training</td>
                  <td style="padding:2px 3px;border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);font-size:100%;font-weight:bold;vertical-align:top;text-align:center">Track 3: Share &amp; Help</td>
                </tr>
                <tr style="height:21px">
                  <td style="padding:2px 3px;vertical-align:bottom;background-color:rgb(255,242,204);border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);border-left:1px solid rgb(0,0,0);font-size:100%;font-weight:bold;text-align:right">10:00 - 11:00</td>
                  <td style="padding:2px 3px;vertical-align:bottom;background-color:rgb(255,242,204);border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);font-size:100%;font-weight:bold;text-align:center" rowspan="1" colspan="4">Opening Circle and Group Photo</td>
                </tr>
                <tr style="height:21px">
                  <td style="padding:2px 3px;vertical-align:bottom;border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);border-left:1px solid rgb(0,0,0);font-size:100%;font-weight:bold;text-align:right" rowspan="3" colspan="1">
                    <span>
                      <div style="max-height:62px">11:30 -12:30</div>
                    </span>
                  </td>
                  <td style="padding:2px 3px;white-space:normal;word-wrap:break-word;vertical-align:top;border-right:1px solid rgb(0,0,0)">UX Design Challenge in Scientific Software</td>
                  <td style="padding:2px 3px;background-color:rgb(255,255,255);border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);font-size:100%;white-space:normal;word-wrap:break-word;vertical-align:top;text-align:left" rowspan="7" colspan="1">
                    <span>
                      <div style="max-height:146px">Research Reproducibility: Hands-on Experience with Replication</div>
                    </span>
                  </td>
                  <td style="padding:2px 3px;border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);font-size:100%;white-space:normal;word-wrap:break-word;vertical-align:top;text-align:left" rowspan="3" colspan="1">
                    <span>
                      <div style="max-height:62px">Mapping the Matrix: Open Cartography with Scientific and Spatial Data</div>
                    </span>
                  </td>
                  <td style="padding:2px 3px;background-color:rgb(255,255,255);border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);font-size:100%;font-style:normal;white-space:normal;word-wrap:break-word;vertical-align:top;text-align:left" rowspan="3" colspan="1">
                    <span>
                      <div style="max-height:62px">The Genome in the Machine – the Ethics of Open Data Meeting Very Personal Data </div>
                    </span>
                  </td>
                </tr>
                <tr style="height:21px">
                  <td style="padding:2px 3px;font-size:100%;white-space:normal;word-wrap:break-word;vertical-align:top;text-align:left;border-right:1px solid rgb(0,0,0)">Science in the Browser with WebGL</td>
                </tr>
                <tr style="height:21px">
                  <td style="padding:2px 3px;border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);font-size:100%;white-space:normal;word-wrap:break-word;vertical-align:top;text-align:left">Tackling Sustainable Development with Citizen Science on the Web</td>
                </tr>
                <tr style="height:21px">
                  <td style="padding:2px 3px;vertical-align:bottom;background-color:rgb(217,217,217);border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);border-left:1px solid rgb(0,0,0);font-size:100%;font-weight:bold;text-align:right">12:30 - 12:45</td>
                  <td style="padding:2px 3px;background-color:rgb(217,217,217);border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);font-size:100%;font-style:italic;white-space:normal;word-wrap:break-word;vertical-align:top;text-align:center">Break</td>
                  <td style="padding:2px 3px;background-color:rgb(217,217,217);border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);font-size:100%;font-style:italic;white-space:normal;word-wrap:break-word;vertical-align:top;text-align:center" rowspan="1" colspan="2">Break</td>
                </tr>
                <tr style="height:21px">
                  <td style="padding:2px 3px;vertical-align:bottom;background-color:rgb(255,255,255);border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);border-left:1px solid rgb(0,0,0);font-size:100%;font-weight:bold;text-align:right" rowspan="3" colspan="1">
                    <span>
                      <div style="max-height:62px">12:45 - 13:45</div>
                    </span>
                  </td>
                  <td style="padding:2px 3px;background-color:rgb(255,255,255);border-right:1px solid rgb(0,0,0);font-size:100%;white-space:normal;word-wrap:break-word;vertical-align:top;text-align:left">Building citation lists using ORCID records and DOI metadata</td>
                  <td style="padding:2px 3px;vertical-align:bottom;background-color:rgb(239,239,239);border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0)" rowspan="3" colspan="1"><span></span><br></td>
                  <td style="padding:2px 3px;background-color:rgb(255,255,255);border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);font-size:100%;font-style:normal;white-space:normal;word-wrap:break-word;vertical-align:top;text-align:left" rowspan="3" colspan="1">
                    <span>
                      <div style="max-height:62px">New Technology for Open &amp; Collaborative Research</div>
                    </span>
                  </td>
                </tr>
                <tr style="height:21px">
                  <td style="padding:2px 3px;vertical-align:bottom;font-size:100%;border-right:1px solid rgb(0,0,0)">Bionode - Modular and Universal Bioinformatics</td>
                </tr>
                <tr style="height:21px">
                  <td style="padding:2px 3px;font-size:100%;white-space:normal;word-wrap:break-word;vertical-align:top;border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0)">Data is beautiful. What's Wikidata and why does it matter to me?</td>
                </tr>
                <tr style="height:21px">
                  <td style="padding:2px 3px;vertical-align:bottom;background-color:rgb(255,242,204);border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);border-left:1px solid rgb(0,0,0);font-size:100%;font-weight:bold;text-align:right">13:45 - 14:45</td>
                  <td style="padding:2px 3px;background-color:rgb(255,242,204);border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);font-size:100%;font-weight:bold;white-space:normal;word-wrap:break-word;vertical-align:top;text-align:center" rowspan="1" colspan="4">Lunch</td>
                </tr>
                <tr style="height:21px">
                  <td style="padding:2px 3px;vertical-align:bottom;background-color:rgb(255,255,255);border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);border-left:1px solid rgb(0,0,0);font-size:100%;font-weight:bold;text-align:right" rowspan="4" colspan="1">
                    <span>
                      <div style="max-height:99px">14:45 - 15:45</div>
                    </span>
                  </td>
                  <td style="padding:2px 3px;background-color:rgb(244,204,204);font-size:100%;white-space:normal;word-wrap:break-word;vertical-align:top;border-right:1px solid rgb(0,0,0)">GeoTag-X</td>
                  <td style="padding:2px 3px;background-color:rgb(255,255,255);border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);font-size:100%;white-space:normal;word-wrap:break-word;vertical-align:top;text-align:left" rowspan="4" colspan="2">
                    <span>
                      <div style="max-height:99px">Diving into Docker: Developing a Darn Fast, Repeatable Workflow</div>
                    </span>
                  </td>
                  <td style="padding:2px 3px;background-color:rgb(255,255,255);border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);font-size:100%;font-style:italic;white-space:normal;word-wrap:break-word;vertical-align:top;text-align:left" rowspan="4" colspan="1">
                    <span>
                      <div style="max-height:99px">Ongoing: Office Hours</div>
                    </span>
                  </td>
                </tr>
                <tr style="height:21px">
                  <td style="padding:2px 3px;background-color:rgb(244,204,204);font-size:100%;white-space:normal;word-wrap:break-word;vertical-align:top;border-right:1px solid rgb(0,0,0)">Open Cosmics: Cosmic-ray physics is for everyone</td>
                </tr>
                <tr style="height:21px">
                  <td style="padding:2px 3px;background-color:rgb(244,204,204);font-size:100%;white-space:normal;word-wrap:break-word;vertical-align:top;border-right:1px solid rgb(0,0,0)">Software Discovery Dashboard</td>
                </tr>
                <tr style="height:21px">
                  <td style="padding:2px 3px;background-color:rgb(244,204,204);font-size:100%;white-space:normal;word-wrap:break-word;vertical-align:top;border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0)">European Citizen Science via the Web: potentials, expectations and way ahead</td>
                </tr>
                <tr style="height:21px">
                  <td style="padding:2px 3px;vertical-align:bottom;background-color:rgb(217,217,217);border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);border-left:1px solid rgb(0,0,0);font-size:100%;font-weight:bold;text-align:right">15:45 - 16:00</td>
                  <td style="padding:2px 3px;background-color:rgb(217,217,217);border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);font-size:100%;font-style:italic;white-space:normal;word-wrap:break-word;vertical-align:top;text-align:center" rowspan="1" colspan="4">Break</td>
                </tr>
                <tr style="height:21px">
                  <td style="padding:2px 3px;vertical-align:bottom;border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);border-left:1px solid rgb(0,0,0);font-size:100%;font-weight:bold;text-align:right" rowspan="4" colspan="1">
                    <span>
                      <div style="max-height:83px">16:00 - 17:00</div>
                    </span>
                  </td>
                  <td style="padding:2px 3px;background-color:rgb(244,204,204);font-size:100%;white-space:normal;word-wrap:break-word;vertical-align:top;border-right:1px solid rgb(0,0,0)">Modify and run other people's research code in your browser</td>
                  <td style="padding:2px 3px;background-color:rgb(255,255,255);border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);font-size:100%;white-space:normal;word-wrap:break-word;vertical-align:top;text-align:left" rowspan="4" colspan="2">
                    <span>
                      <div style="max-height:83px">Annotation on the Web with Hypothes.is</div>
                    </span>
                  </td>
                  <td style="padding:2px 3px;background-color:rgb(255,255,255);border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);font-size:100%;font-style:italic;white-space:normal;word-wrap:break-word;vertical-align:top;text-align:left" rowspan="4" colspan="1">
                    <span>
                      <div style="max-height:83px">Ongoing: Office Hours</div>
                    </span>
                  </td>
                </tr>
                <tr style="height:21px">
                  <td style="padding:2px 3px;background-color:rgb(244,204,204);font-size:100%;white-space:normal;word-wrap:break-word;vertical-align:top;border-right:1px solid rgb(0,0,0)">miniReproducibility Project</td>
                </tr>
                <tr style="height:21px">
                  <td style="padding:2px 3px;background-color:rgb(244,204,204);font-size:100%;white-space:normal;word-wrap:break-word;vertical-align:top;border-right:1px solid rgb(0,0,0)">Teen-Driven Open Science</td>
                </tr>
                <tr style="height:21px">
                  <td style="padding:2px 3px;background-color:rgb(244,204,204);border-bottom:1px solid rgb(0,0,0);font-size:100%;vertical-align:bottom;border-right:1px solid rgb(0,0,0)">CERN Webfest - W6-assess</td>
                </tr>
                <tr style="height:21px">
                  <td style="padding:2px 3px;vertical-align:bottom;background-color:rgb(255,242,204);border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);border-left:1px solid rgb(0,0,0);font-size:100%;font-weight:bold;text-align:right">17:30</td>
                  <td style="padding:2px 3px;background-color:rgb(255,242,204);border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);font-size:100%;font-weight:bold;vertical-align:top;text-align:center" rowspan="1" colspan="4">Closing Demo Party</td>
                </tr>
                <tr style="height:21px">
                  <td style="padding:2px 3px;vertical-align:bottom"><br></td>
                  <td style="padding:2px 3px;font-size:100%;font-style:italic;vertical-align:top;text-align:center">Sprints have rolling start times and may continue working into the next session</td>
                  <td style="padding:2px 3px;vertical-align:bottom"><br></td>
                  <td style="padding:2px 3px;vertical-align:bottom"><br></td>
                  <td style="padding:2px 3px;vertical-align:bottom"><br></td>
                </tr>
              </tbody>
            </table>

          div(style="float:right").pathways
            span(style="padding:5px;border:1px solid rgb(0, 0, 0);background-color:rgb(244, 204, 204)")
              a(href="#ora") Open Research Accelerator

          h3 PATHWAYS

          p#ora
            span(style="padding:5px;border:1px solid rgb(0, 0, 0);background-color:rgb(244, 204, 204)") Open Research Accelerator
          p
            | Have a project you'd like help with? We'll be running an
            a(href="http://beta.briefideas.org/open-research-accelerator")  Open Research Accelerator
            |  at the Festival, to provide 1-on-1 mentorship around open source and project skills to help you run your very own session at the Festival.

          p Check back here as we add more Pathways to our space. Coming soon: Science Communication, Open Data and Citizen Science!

          if(ev.facilitators.length > 0)
            h3 FACILITATORS
            p
              | Look out for these friendly faces running our sessions at MozFest this year! Are you a facilitator?
              a(data-toggle="modal" data-target="#facilitator")  Add yourself to this list.
            div#event-people(data-url="/api/events/" + ev.slug + "/people")

          if(ev.attending.length > 0)
            h3 PARTICIPANTS
            div#event-attending(data-url="/api/events/" + ev.slug + "/attending")

          if(ev.start > moment())
            a(href="https://2015.mozillafestival.org/tickets")
              button.pure-button.pure-button-lg Register

         div.modal.fade#facilitator(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
              div.modal-dialog
                div.modal-content
                  div.modal-header
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                      span(aria-hidden="true") &times;
                    h3.modal-title#modalLabel
                      if(user)
                        | Add yourself as a MozFest facilitator
                      else
                        | Sign in to add yourself as a facilitator
                  div.modal-body
                    p Join us in the Mozilla Toronto offices March 7-8 as we build tools helping web-enabled science
                    tito-widget(event="mozilla-science/toronto-open-science-code-sprint")
                  div.modal-footer
                    button.pure-button.light(type="button" data-dismiss="modal") Close
                    if(user)
                      a.pure-button(type="button" href="/api/events/" + ev.slug + '/attend') Add
                    else
                      a.pure-button(type="button" href="/auth/github") Sign in
    +footer(page)
