mixin connect
  div.connect
    ul
      li
        a(href="http://forum.mozillascience.org/")
          span.fa.fa-comments
          span  Forum
      li
        a(href="https://twitter.com/MozillaScience")
          span.fa.fa-twitter
          span  @MozillaScience
      li
        a(href="https://mail.mozilla.org/listinfo/mozillascience")
          span.fa.fa-envelope
          span  Mailing List
      li
        a(href="https://wiki.mozilla.org/ScienceLab/Calls")
          span.fa.fa-phone
          span  Community Call
      li
        a(href="irc://irc.mozilla.org/sciencelab")
          b irc
          span  #ScienceLab