mixin footer(page)
  footer
    img(src='/img/footer-design.png').footer-design
    div.page-wrapper
      div.footer-main
        div.pure-u-1.pure-u-md-1-2
          img(src='/img/footer-mozilla-white.png')
          ul
            li
              a(href="https://www.mozilla.org/en-US/about/legal/terms/mozilla/") Terms of Service
            li
              a(href="https://www.mozilla.org/en-US/privacy/") Privacy Policy
            li
              a(href="/code-of-conduct") Code of Conduct
            li
              a(href="https://github.com/mozillascience/site/issues/new") Report a Bug
            li
              a(href="http://creativecommons.org/licenses/by/4.0/" target="_blank") Creative Commons Attribution 4.0 International License


        //div.pure-u-1.pure-u-md-1-4
          em FOLLOW US
          div
            a(href="https://twitter.com/MozillaScience" target="_blank").fa-stack.fa-lg
              i.fa.fa-circle.fa-stack-2x.social-icons
              i.fa.fa-twitter.fa-stack-1x.fa-inverse
        div.pure-u-1.pure-u-md-1-4
          span KEEP IN TOUCH
          ul
            li
              a(href="http://forum.mozillascience.org/")
                span.fa.fa-comments
                span  Forum
            li
              a(href="https://twitter.com/MozillaScience")
                span.fa.fa-twitter
                span  @MozillaScience
            //li
              a(href="https://mail.mozilla.org/listinfo/mozillascience")
                span.fa.fa-envelope
                span  Mailing List
            li
              a(href="https://wiki.mozilla.org/ScienceLab/Calls")
                span.fa.fa-phone
                span  Community Call
            li
              a(href="irc://irc.mozilla.org/sciencelab")
                b irc
                span  #ScienceLab
        div.pure-u-1.pure-u-md-1-4.email
          span MAILING LIST
          p
            small Occasional e-mail updates & news.
          form(action="https://mail.mozilla.org/subscribe/mozillascience" method="POST")
            input(placeholder="Sign up with your e-mail" name="email")
            button(type="submit").pure-button.pure-button-primary
              i.fa.fa-caret-right
        div.pure-u-1
          h3
            ul.footer-links
              li
                a(href="/") Home
              li.spacer
              li
                a(href="/about/") About
              li.spacer
              li
                a(href="/blog/") Blog
              li.spacer
              li
                a(href="/training/") Training
              li.spacer
              li
                a(href="/community/") Community
              li.spacer
              li
                a(href="/collaborate/") Collaborate


  div#scripts
    //script(src="http://fb.me/react-0.12.2.js")
    script(src="/scripts/react-0.12.2.js")

    //script(src="http://fb.me/JSXTransformer-0.12.2.js")
    script(src="/scripts/JSXTransformer-0.12.2.js")

    //script(src="http://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js")
    script(src="/scripts/showdown.min.js")
    script(src="/scripts/moment.min.js")

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script
      window.jQuery || document.write('<script src="/static/js/vendor/jquery-1.11.1.min.js"><\/script>')

    script(src="/scripts/modal.min.js")
    script(type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.js")
    script(src="/scripts/main.js")
    script(type="text/javascript" src="/scripts/react-main.js")
    script
      | (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      | (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      | m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      | })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      | ga('create', 'UA-35433268-51', 'auto');
      | ga('send', 'pageview');




