// Mozmaker bits

@import '../../node_modules/mozmaker/src/scss/custom/colors';
@import '../../node_modules/bootstrap/scss/_variables.scss';
@import '../../node_modules/bootstrap/scss/mixins.scss';

// Non-Mozmaker Colors

$off-white: darken($white, 5%);

// Breakpoints (imported from Bootstrap)

$bp-xs: #{map-get($grid-breakpoints, xs)}; // < 544px
$bp-sm: #{map-get($grid-breakpoints, sm)}; // >= 544px
$bp-md: #{map-get($grid-breakpoints, md)}; // >= 768px
$bp-lg: #{map-get($grid-breakpoints, lg)}; // >= 992px
$bp-xl: #{map-get($grid-breakpoints, xl)}; // >= 1200px

// Resets
a,
a:link {
  color: $mobile-blue;
}

a:hover,
a:focus {
  color: lighten($mobile-blue, 15%);
  text-decoration: none;
}

img {
  max-width: 100%;
}

p {
  color: $charcoal;
  font-size: 0.9375rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  &,
  .jumbotron & {
    color: $summit-teal;
    font-weight: 200;
  }
  .jumbotron-fluid & {
    color: $white;
  }
}

// Components

@import '../react/components/footer/footer';
@import '../react/components/header/header';
@import '../react/components/greeting/greeting';
@import '../react/components/three-up/three-up';
@import '../react/components/github-avatar/github-avatar';
@import '../react/components/project-card-featured/project-card-featured';
@import '../react/components/data-card/data-card';
@import '../react/components/project-list/project-list';
@import '../react/components/categories/categories';
@import '../react/components/shadow-box';
@import '../react/components/tab-switcher/tab-switcher';

// Pages

@import '../react/pages/home/home';
@import '../react/pages/projects/projects';
@import '../react/pages/project-details/project-details';

// Global

body {
  background: $charcoal;
}

#content-wrapper {
  background: $off-white;
}

.container-dynamic {
  @include make-container();
  max-width: $bp-xl;
}

.jumbotron {
  background: transparent;
}
