GITHUB_CLIENT_ID=#####
GITHUB_CLIENT_SECRET=#####
GITHUB_TOKEN=#####
MONGO_SECRET=#####
SSOSECRET=#####
DISCOURSE='http://forum.mozillascience.org/'
AWS_ACCESS_KEY_ID=#####
AWS_SECRET_ACCESS_KEY=#####
S3_BUCKET=#####