include partials/head.jade
include partials/header.jade
include partials/footer.jade
include partials/connect.jade

-var page = "About"

doctype html5
html
  head
    +head(page)
  body
    +header(loggedIn, page)

    div.page-wrapper
      div.splash
          h1 About Science Lab
          p Learn about the people, community and vision behind the Science Lab
      div.header-img#about-header


      div
        div.pure-u-1.pure-u-md-3-4.spaced-columns
          p The Mozilla Science Lab works to make research collaborative, accessible, and usable. We do this by:
           ul
            li Empowering the next generation of leaders through fellowships and mentorship;
            li Facilitating project-based learning around open data and open source;
            li And supporting and advocating for a growing community of researchers working openly.

          h3 MEET OUR STAFF
          p Here are the staff of Mozilla Science Lab.
          div#msl-staff

          h3 MEET OUR CONTRIBUTORS
          p Here are the folks who’ve helped advance science on the web with us. Want to know how you can help?
            a(href="mailto:sciencelab@mozillafoundation.org")  Get in touch.
          div#msl-people



        div.pure-u-1.pure-u-md-1-4.spaced-columns
          +connect()

    +footer()

