include partials/head.jade
include partials/header.jade
include partials/footer.jade
include partials/connect.jade

-var page = "About"

doctype html5
html
  head
    +head(page)
  body
    +header(loggedIn, page)

    div.page-wrapper
      div.splash
          h1 About Science Lab
          p Learn about open science and more about us

      div.header-img


      div
        div.pure-u-1.pure-u-md-3-4.spaced-columns
          p The Mozilla Science Lab is helping a global network of researchers, tool developers, librarians and publishers collaborate to further science on the web. We believe a community of peers working, learning and building together is needed to make research thrive on the open web.

          p We do this by:
            ul
              li
                b Building
                |  communities and technical prototypes;
              li
                b Teaching
                |  skills needed to further open practices;
              li
                b Empowering
                |  others to learn, solve problems and build new tools together.

          p The Science Lab also operates under a Code of Conduct, which you can read here.

          h3 SUPPORTED BY
          div.pure-u-1.pure-u-md-1-4
            img(src='/img/Sloan-Logo-DW.png')
          div.pure-u-1.pure-u-md-3-4
            p The Alfred P. Sloan Foundation is a philanthropic, not-for-profit grantmaking institution. They believe that a carefully reasoned and systematic understanding of the forces of nature and society, when applied inventively and wisely, can lead to a better world for all.

        div.pure-u-1.pure-u-md-1-4.spaced-columns
          +connect()

    +footer()

