include partials/head.jade
include partials/header.jade
include partials/footer.jade
include partials/connect.jade


doctype html5
html
  head
    +head()
  body
    div.page-wrapper
      +header(loggedIn)

      div.splash
        h1 Blog
        | news, updates and blog posts here

      div
        div.pure-u-1.pure-u-md-3-4
          div.header-img(style="margin-right:1em")
          p Coming soon
        div.pure-u-1.pure-u-md-1-4
          div.l-box-lg.header-img
            +connect()

    +footer()

