include partials/head.jade
include partials/header.jade
include partials/footer.jade
include partials/post.jade
include partials/connect.jade

-var page = "Blog"

doctype html5
html
  head
    +head(author || page)
  body
    +header(loggedIn, page)
    div.page-wrapper#blog
      if(!author)
        div.splash
          h1 Blog
          p News, updates and blog posts here

      div
        div.pure-u-1.pure-u-md-3-4
          if(author)
            div.post
              h1 Author Archives:&nbsp;
               b #{author}
          div(id="blog")
            div.header-img
            - for(var i=0; i<posts.length; i++){
                +post(posts[i], true)
            - }

        if(!author)
          div.pure-u-1.pure-u-md-1-4
            div.sidebar(style="margin-top:0")
              p(style="margin-bottom:10px") Join the Conversation
              +connect()


    +footer()

