include partials/head.jade
include partials/header.jade
include partials/footer.jade
include partials/connect.jade

-var page = "Community"

doctype html5
html
  head
    +head(page)
  body
    +header(loggedIn, page)

    div.splash
      div.header-img(id="community-banner")
        div.page-wrapper
          h1 Community
          | join others around open research in the sciences
    div.page-wrapper


      div
        div.pure-u-1.pure-u-md-3-4.spaced-columns
          p The Science Lab is about growing the community around open research in the sciences. Whether you're a tool developer, bench scientist, or educator, we're here to help you learn, build, and connect to others working to make the web work for science. Join us.

        div.pure-u-1.pure-u-md-1-4.spaced-columns
          +connect()

    +footer()

