include partials/head.jade
include partials/header.jade
include partials/footer.jade

-var page = "Event"

doctype html5
html
  head
    +head(ev.title || page)
  body
    +header(loggedIn, page)
    div.page-wrapper.user-page
      section.project
        div
          h1 #{ev.title + '  '}
          p
            i= ev.where


          div.pure-u-1
            div
              img(src= ev.img_url)
            p=ev.description

          h3 FACILITATORS
          div#event-people(data-url="/api/events/" + ev.slug + "/people")


    +footer()