include partials/head.jade
include partials/header.jade
include partials/footer.jade

-var page = "Fellows"

doctype html5
html
  head
    +head(page)
  body
    +header(loggedIn, page)
    div.page-wrapper
        div.splash
          h1 The Mozilla Open Science Fellowship
          p The Mozilla Open Science Fellowship enables early-career researchers to spend 10 months working on open, web-enabled research and further open science within the community. Mozilla Open Science Fellows will learn open research skills, write code and help build community during their fellowship year.

        div.pure-u-1.pure-u-md-3-4.pure-u-lg-1-2(style="padding-right:1em")
          p With support from the
            a(href="http://helmsleytrust.org/" target="_blank")  Helmsley Charitable Trust
            | , we’re excited to announce a new Mozilla Open Science Fellowship program. This program is designed to support early-career researchers with a passion for the web and open science, to serve as lead instructors and mentors within the community. Fellows will receive training in data and computational skills needed to do more open, web-enabled research, and aid in training the next generation of open science practitioners at their home institutions, as well as within the broader community and across disciplines. The fellowships will run for 10 months and include travel, insurance benefits and childcare allotments. Fellowships are paid positions, and emphasize open development that strengthens research on the web.
            br
            a(href="/announcing-new-support-to-build-capacity-for-open-science")  Read more on the blog »
        div.pure-u-1.pure-u-md-1-4.pure-u-lg-1-2
          img(src="/img/fellows.jpg")
          br
          small
            a(href="https://www.flickr.com/photos/26202634@N00/15659776905/in/photolist-pRNs6x-pRSyiw-pzipvR-pzoQu9-pPGf91-pRRQFo-pzpnZJ-pRSrz1-pRxSLF-pzkDAE-pzi5jV-oUWLWS-pzne48-pRMYPt-pRxMce-pzmYr2-pzm5ku-pRNiHk-oUW8Rj-pzi9ui-pPG7LA-pRSpCA-pzngax-pRN4mz-pzhWMF-pRSeZ7-pRSLYS-pRMWmx-pRSswG-pzppYy-oUZKGR-pzoAjA-pNScPF-pNSgPK-pNXixA-p9xJFR-q6qBCL-p9veKj-q6qE59-q6rcS7-hHA3jU-hHAwUs-hHAaw9-hHAhmS-hHA7au-hHAbvd-hHzPd2-hHAkxw-hHB2k4-hHAhZ5") CC image courtesy of 26202634@N00 on Flickr
        br
        br
        div.pure-u-1.content-contrast.is-center.splash.email
          p
            | Call for fellows opening May 2015
            br
            | Sign up to our mailing list to keep up to date with the Mozilla Open Science Fellowships
          form(action="https://mail.mozilla.org/subscribe/mozillascience" method="POST")
            input(placeholder="Sign up with your e-mail" name="email")
            button(type="submit").pure-button.pure-button-primary Keep up to date!


    +footer()