include partials/head.jade
include partials/header.jade
include partials/footer.jade

-var page = "Fellows"

doctype html5
html
  head
    +head(page)
  body
    +header(loggedIn, page)
    div.page-wrapper
        div.splash
          h1 The Mozilla Fellowship for Science
          p Are you a champion of open science and open data? Mozilla is seeking researchers eager to advance openness in science and data within their institutions.

        div.pure-u-1
          p(style="font-size:1.5em") The Mozilla Fellowships for Science present a unique opportunity for researchers who want to influence the future of open science and data sharing within their communities.
          p
            b Applications are closed for 2015

        div
          p We're looking for researchers with a passion for open source and data sharing, already working to shift research practice to be more collaborative, iterative and open. Fellows will spend 10 months starting September 2015 as community catalysts at their institutions, mentoring the next generation of open data practitioners and researchers and building lasting change in the global open science community.
          p Throughout their fellowship year, chosen fellows will receive training and support from Mozilla to hone their skills around open source and data sharing. They will also craft code, curriculum and other learning resources that help their local communities learn open data practices, and teach forward to their peers.
          h3 EXPECTATONS
          p Fellows will:
          ul
            li champion change within their university around open source and data sharing,

            li create code, curriculum and other learning resources that help others learn open data practices,

            li participate in Mozilla workweeks, trainings and community events (MozFest, code sprints, study groups, community events, project calls, etc.),

            li participate and help lead regular community calls,

            li serve as mentors and leaders within their communities,

            li communicate and share openly their work on an ongoing basis (e.g., through GitHub repositories, scholarly preprints and blog posts).
          ul

            li
              b Note:
              |  Fellows are encouraged to continue their personal research for up to 20% of their time during the course of their fellowship (i.e., one day a week). Fellowship applicants must have buy in from their supervisors  in  advance, and include supervisors' contact information on the application. Advisers will be interviewed separately should applicants move on to the second round, and their support will be a critical consideration for acceptance of fellows.
          h3 STIPEND AND FINANCIAL BENEFITS
          p The Fellowships are designed to allow for flexibility for both Fellows and their families. The standard fellowship offers a stipend of $60,000 USD, paid in 10 monthly installments. Fellows are responsible for remitting all applicable taxes and other government payments as required.
          p To help offset cost of living, the fellowship also provides supplements for childcare and health insurance, and helps pay for research/equipment and books. The fellowship also covers the costs of required travel for fellowship activities.
          p Fellows will receive:
          ul

            li A stipend of $60,000 USD, paid in 10 monthly installments.

            li One-time health insurance supplement for Fellows and their families, ranging from $3,500 for single Fellows to $7,000 for a couple with two or more children.

            li One-time childcare allotment for families with children of up to $6,000.

            li Allowance of up to $3,000 towards the purchase of laptop computer, digital cameras, recorders and computer software; fees for continuing studies or other courses, research fees or payments, to the extent related to the fellowship.

            li All approved fellowship trips – domestic and international – are covered in full.
          h3 ELIGIBILITY CRITERIA

          ul
            li Fellows must be
              ul

                li Currently working at a research institution in the US, UK or Canada.

                li Currently an early-career researcher (i.e, graduate students, post-docs, research scientists, lecturers)

                li Specializing in the life sciences or natural sciences.

                li Able to travel.

                li Supported by their supervisors. As fellows will be based at their home institutions, please note that a letter of support from their supervisor is mandatory for consideration.

                li Have experience participating in open communities.




        br
        p
          b Applications are closed for 2015
        div

          h3 QUESTIONS?
          p
            | Take a look at our
            a(href="/fellows/faq")  Frequently Asked Questions
            | . We’re very reachable. You can
            a(href="mailto:sciencelab@mozillafoundation.org")  e-mail us
            |  , find us on
            a(href="https://twitter.com/MozillaScience")  Twitter
            | , reach us at our
            a(href="https://wiki.mozilla.org/ScienceLab/Calls")  monthly community call
            |  and even catch us on IRC via the
            a(href="irc://irc.mozilla.org/sciencelab")  #sciencelab channel
            |  on irc.mozilla.org. We’d love to hear from you and are happy to answer any questions you may  have.
          h3 SUPPORTED BY
          a(href="http://helmsleytrust.org/")
            img(src="/img/helmsley.jpg")

    +footer()