include partials/head.jade
include partials/header.jade
include partials/footer.jade


doctype html5
html
  head
    +head()
  body
    +header(loggedIn)
    div(id="home-banner")
      div.bg
        div.page-wrapper
          h1 Making research collaborative,
            br
            | accessible, and usable
          div.pure-u-1.pure-u-md-1-2
            //h3 We do this by: Empowering the next generation of leaders through fellowships and mentorship; Facilitating project-based learning around open data and open source; And supporting and advocating for a growing community of researchers working openly.

            h3 Join a community of peers working, learning and building together to make research thrive on the open web.
          div
            if(user)
              a(href="/community")
                div.pure-button JOIN US
            else
              a(data-toggle="modal" data-target="#joinUsModal")
                div.pure-button JOIN US
            a(href="/about")
              div.pure-button.light LEARN MORE
    div.pure-u-1.is-center.callout
      div.page-wrapper
        | The Mozilla Science Lab facilitates learning around open source, open data
        br
        | and offers fellowships for early career researchers.
    div.page-wrapper
      div.pure-u-1.pure-u-md-1-3
        div.l-box-lg
          div.circle-img(id="circle-collab")
          h3.is-center CONNECT
          p
            | Join a network of researchers, developers, librarians and publishers collaborating openly to further science on the web.
          a(href="/community").next
            span Work openly with our community &nbsp;
              span.fa.fa-chevron-right
      div.pure-u-1.pure-u-md-1-3
        div.l-box-lg
          div.circle-img(id="circle-exp")
          h3.is-center PARTICIPATE
          p
            | Learn new skills by collaborating with coders, designers and researchers to build new tools for science.
          a(href="/collaborate").next
            span Collaborate on code for science &nbsp;
              span.fa.fa-chevron-right
      div.pure-u-1.pure-u-md-1-3
        div.l-box-lg
          div.circle-img(id="circle-innovate")
          h3.is-center LEAD
          p
            | Leverage our fellowship programs and learning resources to join the next generation of open research leaders.
          a(href="/training").next
            span Mentoring open research skills &nbsp;
              span.fa.fa-chevron-right

      div.pure-u-1
        h3.pull-left MEET THE FELLOWS
        h3
        span.pull-right
          a(href="/fellows/2015")
            | See the 2015 Mozilla Fellows for Science &nbsp;
            span.fa.fa-chevron-right
        div.pure-u-1
          a(href="/fellows/2015")
            div.pure-u-1-2.pure-u-md-1-4.person-card
              img(src="https://s3.amazonaws.com/mozillascience/fellows/richard_smith_unna.jpg")
            div.pure-u-1-2.pure-u-md-1-4.person-card
              img(src="https://s3.amazonaws.com/mozillascience/fellows/christie_bahlai.jpg")
            div.pure-u-1-2.pure-u-md-1-4.person-card
              img(src="https://s3.amazonaws.com/mozillascience/fellows/joey_lee.jpg")
            div.pure-u-1-2.pure-u-md-1-4.person-card
              img(src="https://s3.amazonaws.com/mozillascience/fellows/jason_bobe.jpg")

      div.pure-u-1
          h3.pull-left FEATURED PROJECTS
          h3
          span.pull-right
            a(href="/collaborate")
              | See more projects &nbsp;
              span.fa.fa-chevron-right
          div.pure-u-1(id="featured-projects")
            a.pure-u-1.pure-u-md-1-4.tooltips.project-img
              img(src='')
            a.pure-u-1.pure-u-md-1-4.tooltips.project-img
              img(src='')
            a.pure-u-1.pure-u-md-1-4.tooltips.project-img
              img(src='')
            a.pure-u-1.pure-u-md-1-4.tooltips.project-img
              img(src='')

      div.pure-u-1
          h3.pull-left UPCOMING EVENTS
          h3
          span.pull-right
            a(href="/community")
              | See more events &nbsp;
              span.fa.fa-chevron-right
          div.pure-u-1(id="upcoming-events")



      div
        div.pure-u-1.pure-u-md-1-2.spaced-columns
          h3 TWEETS
          a.twitter-timeline(href="https://twitter.com/MozillaScience" data-widget-id="532979693830406144") Tweets by @MozillaScience
          script !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

        div.pure-u-1.pure-u-md-1-2.spaced-columns
          h3 SUPPORTED BY
          div.pure-u-1
            div.pure-u-1.pure-u-md-1-4
              img(src='/img/Sloan-Logo-DW.png')
            div.pure-u-1.pure-u-md-3-4.spaced-columns
              p The Alfred P. Sloan Foundation is a philanthropic, not-for-profit grantmaking institution. They believe that a carefully reasoned and systematic understanding of the forces of nature and society, when applied inventively and wisely, can lead to a better world for all.
          div.pure-u-1
            div.pure-u-1.pure-u-md-1-4
              img(src='/img/helmsley.jpg')
            div.pure-u-1.pure-u-md-3-4.spaced-columns
              p The Helmsley Charitable Trust aspires to improve lives by supporting exceptional nonprofits and other mission-aligned organizations in the U.S. and around the world in health, selected place-based initiatives, and education and human services.
    +footer()

