include partials/head.jade
include partials/header.jade
include partials/footer.jade


doctype html5
html
  head
    +head()
  body
    div.page-wrapper
      +header(loggedIn)



      div.splash
        div.header-img
          h1 Helping Research Thrive on the Open Web
        h3 The Mozilla Science Lab is helping a global network of researchers, tool developers, librarians and publishers collaborate to further science on the web. We believe a community of peers working, learning and building together is needed to make research thrive on the open web.
      div
          div.content.is-center
              div.l-box-lg.pure-u-1.pure-u-md-1-2.pure-u-lg-1-3
                  h1
                    div.circle-img
                    h3 experiement
                  p
                    | Explore and collaborate in our labratory with tools, projects and scientists!
                div.l-box-lg.pure-u-1.pure-u-md-1-2.pure-u-lg-1-3
                  h1
                    div.circle-img
                    h3 innovate
                  p
                    | Learn code for your research and discover new innovative methodologies.
                div.l-box-lg.pure-u-1.pure-u-md-1-2.pure-u-lg-1-3
                  h1
                    div.circle-img
                    h3 collaborate
                  p
                    | Coordinating a community and supporting scientists everywhere.
      div.pure-u-1
          h3 FEATURED PROJECTS
          div.pure-u-1.featured-projects
            a.pure-u-md-1-4.tooltips.project-img
              img(src='')
            a.pure-u-md-1-4.tooltips.project-img
              img(src='')
            a.pure-u-md-1-4.tooltips.project-img
              img(src='')
            a.pure-u-md-1-4.tooltips.project-img
              img(src='')

      div
        div.pure-u-1.pure-u-md-1-2.spaced-columns
          h3
          a.twitter-timeline(href="https://twitter.com/MozillaScience" data-widget-id="532979693830406144") Tweets by @MozillaScience
          script !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

        div.pure-u-1.pure-u-md-1-2.spaced-columns
          h3 SUPPORTED BY
          div.pure-u-1.pure-u-md-1-4
            img(src='/img/Sloan-Logo-DW.png')
          div.pure-u-1.pure-u-md-3-4
            p The Alfred P. Sloan Foundation is a philanthropic, not-for-profit grantmaking institution. They believe that a carefully reasoned and systematic understanding of the forces of nature and society, when applied inventively and wisely, can lead to a better world for all.
    +footer()

