include partials/head.jade
include partials/header.jade
include partials/footer.jade


doctype html5
html
  head
    +head()
  body
    +header(loggedIn)
    div.splash
      div.header-img(id="home-banner")
        div.bg
          div.page-wrapper
            h1 Helping Research Thrive
              br
              | on the Open Web
            div.pure-u-1.pure-u-md-1-2
              h3 The Mozilla Science Lab helps a global network of researchers, tool developers, librarians and publishers collaborate to further science on the web.
            div
              a(href="/community")
                div.pure-button JOIN US
              a(href="/about")
                div.pure-button.light LEARN MORE
    div.pure-u-1.is-center.callout
      div.page-wrapper
        | We believe a community of peers that work, learn and build together
        br
        | can make research thrive on the open web.
    div.page-wrapper
      div.pure-u-1.pure-u-md-1-3
        div.l-box-lg
          div.circle-img(id="circle-exp")
          h3.is-center EXPERIMENT
          p
            | Find out how you can contribute your skills to further science. We're helping coders, designers and researchers collaborate to build new tools for science.
          a(href="/collaborate").next
            span Collaborate on code for science &nbsp;
              span.fa.fa-chevron-right
      div.pure-u-1.pure-u-md-1-3
        div.l-box-lg
          div.circle-img(id="circle-innovate")
          h3.is-center INNOVATE
          p
            | Learn new and innovative methodologies in our training programs to learn and teach skills for open research. We offer workshops, online training and other educational events.
          a(href="/training").next
            span Learn and teach open research skills &nbsp;
              span.fa.fa-chevron-right
      div.pure-u-1.pure-u-md-1-3
        div.l-box-lg
          div.circle-img(id="circle-collab")
          h3.is-center PARTICIPATE
          p
            | We are a global network of researchers, tool developers, librarians and publishers collaborating to further science on the web.
          a(href="/community").next
            span Build and learn with our community &nbsp;
              span.fa.fa-chevron-right
      div
        div.pure-u-1.spaced-columns
            h3.pull-left FEATURED PROJECTS
            h3
            span.pull-right
              a(href="/collaborate")
                | See more projects &nbsp;
                span.fa.fa-chevron-right
            div.pure-u-1.featured-projects
              a.pure-u-md-1-4.tooltips.project-img
                img(src='')
              a.pure-u-md-1-4.tooltips.project-img
                img(src='')
              a.pure-u-md-1-4.tooltips.project-img
                img(src='')
              a.pure-u-md-1-4.tooltips.project-img
                img(src='')

      div
        div.pure-u-1.pure-u-md-1-2.spaced-columns
          h3 TWEETS
          a.twitter-timeline(href="https://twitter.com/MozillaScience" data-widget-id="532979693830406144") Tweets by @MozillaScience
          script !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

        div.pure-u-1.pure-u-md-1-2.spaced-columns
          h3 SUPPORTED BY
          div.pure-u-1.pure-u-md-1-4
            img(src='/img/Sloan-Logo-DW.png')
          div.pure-u-1.pure-u-md-3-4.spaced-columns
            p The Alfred P. Sloan Foundation is a philanthropic, not-for-profit grantmaking institution. They believe that a carefully reasoned and systematic understanding of the forces of nature and society, when applied inventively and wisely, can lead to a better world for all.
    +footer()

