include partials/head.jade
include partials/header.jade
include partials/footer.jade
include partials/post.jade
include partials/connect.jade

-var page = "Blog"

doctype html5
html
  head
    +head(page)
  body
    +header(loggedIn, page)
    div.page-wrapper


      div.pure-u-1.pure-u-md-3-4
        +post(content[0])


      div.pure-u-1.pure-u-md-1-4
        div.l-box-lg.header-img
          +connect()

    +footer()

