include partials/head.jade
include partials/header.jade
include partials/connect.jade
include partials/footer.jade

-var page = "Training"

doctype html5
html
  head
    +head(page)
  body
    +header(loggedIn, page)
    div.page-wrapper

      div.splash
        h1 Learn & Teach Code
        p Pathways to do more open science on the web

      div.pure-u-1
        div.pure-u-1.pure-u-md-1-2
          div.icon-img#teach-img
          div.l-box-lg
            h2.is-center DO YOU WANT TO MENTOR?
            p We help researchers learn the skills needed to advance open science and serve as mentors within their own communities. We coordinate trainings, create resources and host teaching fellows to further research on the web.
            ul.fa-ul
              li
                i.fa-li.fa.fa-user
                b Fellows:
                |  The
                a(href="/fellows")  Mozilla Open Science Fellowship
                |  enables early-career researchers to spend 10 months working on open, web-enabled research and further open science as mentors within the community.
              li
                i.fa-li.fa.fa-group
                b Study groups:
                |  Start a local coding study group with your colleagues where you can share and practice new skills. Have a look at our
                a(href="https://github.com/mozillascience/studyGroupLessons")  collection of tutorial lessons
                | .
              li
                i.fa-li.fa.fa-pencil
                b Writing resources:
                |  Join us as we create resources to help others learn and teach open research practices. Contributions are
                a(href="http://mozillascience.github.io/codeReview/intro.html")  always
                a(href="http://mozillascience.github.io/lessons/userTesting/index.html")  welcome
                | .
              //li
                i.fa-li.fa.fa-graduation-cap
                b Instructor Training:
                |  The Science Lab partners with the
                a(href="http://software-carpentry.org/")  Software Carpentry Foundation
                |  (SCF) to help coordinate workshops and training events. SCF runs a
                a(href="http://teaching.software-carpentry.org/")  free online training course
                |  for those interested in becoming a SCF workshop instructor.
              li
                i.fa-li.fa.fa-graduation-cap
                b Instructor Training:
                |  The
                a(href="http://software-carpentry.org/")  Software Carpentry Foundation
                |  runs a
                a(href="http://teaching.software-carpentry.org/")  free online training course
                |  for those interested in becoming a workshop instructor.

          div.is-center
            a(href="http://software-carpentry.org/pages/register.html").pure-button.pure-button-lg Sign Up for Instructor Training


        div.pure-u-1.pure-u-md-1-2
          div.icon-img#learn-img
          div.l-box-lg
            h2.is-center DO YOU WANT TO LEARN?
            p To help people understand what the open web can do to accelerate science, we run workshops and events around the world. We are building resources for those looking to learn more about the latest tools and practices and how to apply them to their work.
            ul.fa-ul
              li
                i.fa-li.fa.fa-calendar
                b Events:
                |  We run events, from local study groups to global code sprints. For a list of upcoming events, see
                a(href="/community")  our community page
                | .
              li
                i.fa-li.fa.fa-book
                b Readings:
                |  We are
                a(href="https://github.com/mozillascience/studyGroupLessons")  building resources
                |  to help you learn and practice skills needed to do more open research on the web. From
                a(href="http://mozillascience.github.io/codeReview/intro.html")  code review
                |  to
                a(href="http://mozillascience.github.io/lessons/userTesting/index.html")  user testing
                | , these lessons will help you learn how to use today's tools and build tomorrow's.
              li
                i.fa-li.fa.fa-comments
                b Forum:
                |  Ask questions and get support learning open science skills in the
                a(href="http://forum.mozillascience.org/category/training")  Science Lab Forum
                | .
              li
                i.fa-li.fa.fa-wrench
                b Workshops:
                |  The Science Lab partners with the
                a(href="http://software-carpentry.org/")  Software Carpentry Foundation
                |  to coordinate two-day computational workshops around the world to help researchers.
          div.is-center
            a(href="http://software-carpentry.org/workshops/request.html").pure-button.pure-button-lg Request a Workshop

        //div.pure-u-1
          h3 PROGRAMS
          p There are many groups interested in teaching open science skills or the web. Here are a few:
          ul.pure-u-1#programs
            li.pure-u-1-5
              a(href="http://software-carpentry.org/") Software Carpentry
            li.pure-u-1-5
              a(href="http://altbibl.io/dst4l/") Data Science Training for Libraries / DST4L
            li.pure-u-1-5
              a(href="http://opensciencetraining.com/") Open Science Training Initiative
            li.pure-u-1-5
              a(href="http://ropensci.org/") rOpenSci
            li.pure-u-1-5
              a(href="http://datacarpentry.org/") Data Carpentry
            li.pure-u-1-5
              a(href="https://webmaker.org/make-your-own") Webmaker Teach Templates
            li.pure-u-1-5
              a(href="http://schoolofdata.org/") School of Data
              |  /
              a(href="https://okfn.org/")  Open Knowledge Foundation
            li.pure-u-1-5
              a(href="https://training.github.com/") GitHub training
            li.pure-u-1-5
              a(href="http://schoolofopen.p2pu.org/") Creative Commons / P2PU / School of Open's Open Science Course
            li.pure-u-1-5
              a(href="http://www.pyladies.com/") PyLadies
      div.pure-u-1
        div.pure-u-1.pure-u-md-3-4.spaced-columns
          h3 CONTACT US
          p
            | Are you running a program to teach software and open science skills to researchers? Is there a set of lessons or discussions that you would like to see built? Let us know in the
            a(href="http://forum.mozillascience.org/category/training")  Mozilla Science Forum
            | , or join the conversation on twitter
            a("https://twitter.com/MozillaScience")  @MozillaScience.
        div.pure-u-1.pure-u-md-1-4.spaced-columns
          h3
          +connect()


    +footer()

