include partials/head.jade
include partials/header.jade
include partials/connect.jade
include partials/footer.jade

-var page = "Training"

doctype html5
html
  head
    +head(page)
  body
    +header(loggedIn, page)
    div.page-wrapper

      div.splash
        h1 Learn & Teach Code
        p Pathways to do more open science on the web

      div.pure-u-1
        div.pure-u-1.pure-u-md-1-2
          div.icon-img#teach-img
          div.l-box-lg
            h2.is-center DO YOU WANT TO MENTOR?
            p We help researchers learn skills needed to advance open science and serve as mentors within their communities. We coordinate code sprints and study groups, create resources and host teaching fellows to further research on the web.
            ul.fa-ul
              li
                i.fa-li.fa.fa-user
                b Fellows:
                |  The
                a(href="/fellows")  Mozilla Open Science Fellowship
                |  enables early-career researchers to spend 10 months working on open, web-enabled research and further open science as mentors within the community.
              li
                i.fa-li.fa.fa-pencil
                b Resources:
                |  Join us as we create resources to help others learn and teach open research practices. Contributions are
                a(href="http://mozillascience.github.io/codeReview/intro.html")  always
                a(href="http://mozillascience.github.io/lessons/userTesting/index.html")  welcome
                | .
              li
                i.fa-li.fa.fa-group
                b Mozilla Study groups:
                |  Start a local coding study group with your colleagues where you can share and practice new skills. Have a look at our
                a(href="http://mozillascience.github.io/studyGroupHandbook/")  Mozilla Study Group Handbook
                | .

            div.is-center.l-box-lg
              a(data-toggle="modal" data-target="#joinModal").pure-button.pure-button-lg Start a Mozilla Study Group

            div.modal.fade#joinModal(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
              form(action="" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate)
                div.modal-dialog
                  div.modal-content
                    div.modal-header
                      button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                      h3.modal-title#modalLabel
                        | Start a Mozilla Study Group
                    div.modal-body.edit-page
                      p Mozilla Study Groups are a fun and informal way to meet up with friends and colleagues to share coding skills, get help with programming problems and work together.
                      p
                        | To start a group, take a look at the
                        a(href="http://mozillascience.github.io/studyGroupHandbook/")  Mozilla Study Group Handbook
                        |  or look through some of the
                        a(href="http://mozillascience.github.io/studyGroupHandbook/lessons.html#lessons")  lesson materials
                        | .
                      p Let us know if you're starting a group in your area:

                      p
                        input(type="email" value=(user ? user.email : "") name="EMAIL" class="required email" id="mce-EMAIL" style="font-size:1.4em;line-height:1.6em;" placeholder="Email address")
                      p
                        input(type="text" value=(user ? user.location : "") name="LOCATION" id="mce-LOCATION" style="font-size:1.4em;line-height:1.6em;" placeholder="Location")

                    div.modal-footer
                      button.pure-button.light(type="button" data-dismiss="modal") Close
                      input.pure-button(type="submit" value="Submit")
                    //div
                      if(user)
                        | Join
                      else
                        | Sign-in to Join


        div.pure-u-1.pure-u-md-1-2
          div.icon-img#learn-img
          div.l-box-lg
            h2.is-center DO YOU WANT TO LEARN?
            p To help people understand what the open web can do to accelerate science, we run code sprints and events around the world. We are building resources to help you learn more about the latest tools and practices and how to apply them to your work.
            ul.fa-ul
              li
                i.fa-li.fa.fa-book
                b Lessons:
                |  We are
                a(href="https://github.com/mozillascience/studyGroupLessons")  building resources
                |  to help you learn and practice skills needed to do more open research on the web. From
                a(href="http://mozillascience.github.io/codeReview/intro.html")  code review
                |  to
                a(href="http://mozillascience.github.io/lessons/userTesting/index.html")  user testing
                | , these lessons will help you learn how to use today's tools and build tomorrow's.
              li
                i.fa-li.fa.fa-comments
                b Discuss:
                |  Ask questions and get support learning open research skills in the
                a(href="http://forum.mozillascience.org/category/training")  Science Lab Forum
                |  and on irc in
                a(href="irc://irc.mozilla.org/sciencelab")  #ScienceLab
                | .
              li
                i.fa-li.fa.fa-calendar
                b Events:
                |  We run events, from local study groups to global code sprints. For a list of upcoming events, see
                a(href="/community")  our community page
                | .
            div.is-center.l-box-lg
              a(href="/community#upcoming-events").pure-button.pure-button-lg Find an Event

      div.pure-u-1
        div.pure-u-1.pure-u-md-3-4.spaced-columns
          h3 CONTACT US
          p
            | Are you running a program to teach software and open science skills to researchers? Is there a set of lessons or discussions that you would like to see built? Let us know in the
            a(href="http://forum.mozillascience.org/category/training")  Mozilla Science Forum
            | , or join the conversation on twitter
            a("https://twitter.com/MozillaScience")  @MozillaScience.
        div.pure-u-1.pure-u-md-1-4.spaced-columns
          h3
          +connect()


    +footer()

