include partials/head.jade
include partials/header.jade
include partials/connect.jade
include partials/footer.jade

-var page = "Training"

doctype html5
html
  head
    +head(page)
  body
    +header(loggedIn, page)
    div.page-wrapper

      div.splash
        h1 Learn & Teach Code
        p Computational skills for researchers



      div.pure-u-1
        div.pure-u-1.pure-u-md-1-2(style="padding-right:1em")
          div.header-img
          h3 DO YOU WANT TO TEACH?
          p We want help the community learn skills to further open practices in research. To help with this, we've developed both trainings and resources around open research practices.
          //ul
            li
              | Want to teach scientists computational skills? We run a free online training course for people who want to pass their skills along -- see
              a(href="http://teaching.software-carpentry.org/")  http://teaching.software-carpentry.org/
              |  for more information.
          div.is-center
            a(href="http://software-carpentry.org/pages/register.html").pure-button Sign Up for Instructor Training


        div.pure-u-1.pure-u-md-1-2
          div.header-img
          h3 DO YOU WANT TO LEARN?
          p To help people understand what the open web can do to accelerate science, we run workshops together with
            a(href="http://software-carpentry.org")  Software Carpentry
            |  to help scientists learn the skills needed to use today's tools and create tomorrow's.
            //| We also will be building out resources for those looking to learn more about the latest tools and policies and how to apply them to their work.
            //ul
              li
                | Join a workshop: see
                a(href="http://software-carpentry.org/")  http://software-carpentry.org
                |  for a list of upcoming events, or
                a(href="http://software-carpentry.org/workshops/request.html")  fill out this form
                |  if you'd like Software Carpentry to run one for you.
          div.is-center
            a(href="http://software-carpentry.org/workshops/request.html").pure-button Request a Workshop

        div.pure-u-1
          h3 PROGRAMS
          p There are many groups interested in teaching open science skills or the web. Here are a few:
          ul
            li
              a(href="http://altbibl.io/dst4l/") Data Science Training for Libraries / DST4L
            li
              a(href="http://opensciencetraining.com/") Open Science Training Initiative
            li
              a(href="http://ropensci.org/") rOpenSci
            li
              a(href="http://datacarpentry.org/") Data Carpentry
            li
              a(href="https://webmaker.org/make-your-own") Webmaker Teach Templates
            li
              a(href="http://schoolofdata.org/") School of Data
              |  /
              a(href="https://okfn.org/")  Open Knowledge Foundation
            li
              a(href="https://training.github.com/") GitHub training
            li
              a(href="http://schoolofopen.p2pu.org/") Creative Commons / P2PU / School of Open's Open Science Course
            li
              a(href="http://www.pyladies.com/") PyLadies

        div.pure-u-1.pure-u-md-3-4.spaced-columns
          h3 CONTACT US
          p Are you running a program to teach software and open science skills to researchers? Is there a set of lessons or discussions that you would like to see built? Let us know in the Mozilla Science Forum under Training, or join the conversation on twitter @MozillaScience.
        div.pure-u-1.pure-u-md-1-4.spaced-columns
          h3
          +connect()


    +footer()

