include partials/head.jade
include partials/header.jade
include partials/footer.jade
include partials/connect.jade

-var page = "Volunteer"

doctype html5
html
  head
    +head(page)
    link(rel='stylesheet', type='text/css', href='/css/asknot.css')
    link(rel="resource", type="application/l10n", href="/scripts/locales.ini")
  body
    +header(loggedIn, page)

    div.page-wrapper.
      <div id="wrapper">
        <div class="group" id="progornoprog">
          <span class="question" data-l10n-id="progquestion"></span>
          <ul class="choices">
            <li next-group="progtype"><span data-l10n-id="writecode"></span></li>
            <li next-group="teach"><span data-l10n-id="teaching"></span></li>
            <li next-group="uxdesign"><span data-l10n-id="uxdesign"></span></li>
            <li next-group="standards"><span data-l10n-id="standards"></span></li>
            <li next-group="documentation"><span data-l10n-id="documentation"></span></li>
            <li next-group="citizen"><span data-l10n-id="citizen"></span></li>
          </ul>
        </div>

        <div class="group" id="standards">
          <span class="question" data-l10n-id="standards-intro"></span>
          <ul class="choices">
            <li target="https://www.mozillascience.org/projects/codemeta" data-choice-id="codemeta">CodeMeta
              <div class="extra" data-l10n-id="standards-extra"></div>
            </li>
          </ul>
        </div>

        <div class="group" id="citizen">
          <span class="question" data-l10n-id="citizen-intro"></span>
          <ul class="choices">
            <li target="http://www.geotagx.org/" data-choice-id="geotag">GeoTag-X
              <div class="extra" data-l10n-id="geotag-extra"></div>
            </li>
            <li target="https://www.mozillascience.org/projects/gedankenstuecke-snpr" data-choice-id="opensnp">OpenSNP
              <div class="extra" data-l10n-id="opensnp-extra"></div>
            </li>
            <li target="https://www.mozillascience.org/projects/biosurveillanceViz" data-choice-id="biosurv">Biosurveillance Visualization
              <div class="extra" data-l10n-id="biosurv-extra"></div>
            </li>
          </ul>
        </div>


        <div class="group" id="teach">
          <span class="question" data-l10n-id="teach-intro"></span>
          <ul class="choices">
            <li target="https://www.mozillascience.org/training" data-choice-id="studygroup">Mozilla Science Study Group
              <div class="extra" data-l10n-id="studygroup-extra"></div>
            </li>
            <li target="https://www.mozillascience.org/training" data-choice-id="lessons">Lesson writing
              <div class="extra" data-l10n-id="lessons-extra"></div>
            </li>
          </ul>
        </div>

        <div class="group" id="progtype">
          <span class="question" data-l10n-id="progtype-intro"></span>
          <ul class="choices">
            <li next-group="distributed">Distributed Systems</li>
            <li next-group="viz">Data Visualization</li>
            <li next-group="analysis">Data Analysis</li>
            <li next-group="webapp">Web Applications</li>
          </ul>
        </div>

        <div class="group" id="distributed">
          <span class="question" data-l10n-id="distributed-intro"></span>
          <ul class="choices">
            <li target="https://www.mozillascience.org/projects/trillian" data-choice-id="trillian">Trillian
              <div class="extra" data-l10n-id="trillian-extra"></div>
            </li>
            <li target="https://www.mozillascience.org/projects/edr" data-choice-id="edr">EcoData Retriever
              <div class="extra" data-l10n-id="edr-extra"></div>
            </li>
            <li target="https://www.mozillascience.org/projects/biouno" data-choice-id="biouno">BioUno
              <div class="extra" data-l10n-id="biouno-extra"></div>
            </li>
          </ul>
        </div>

        <div class="group" id="viz">
          <span class="question" data-l10n-id="viz-intro"></span>
          <ul class="choices">
            <li target="https://www.mozillascience.org/projects/contributorship-badges" data-choice-id="badges">Badges for Science
              <div class="extra" data-l10n-id="badges-extra"></div>
            </li>
            <li target="https://www.mozillascience.org/projects/rtanalyzer" data-choice-id="rtanalyzer">RT Analyzer
              <div class="extra" data-l10n-id="rtanalyzer-extra"></div>
            </li>
            <li target="https://www.mozillascience.org/projects/biosurveillanceViz" data-choice-id="biosurv">Biosurveillance Visualization
              <div class="extra" data-l10n-id="biosurv-extra"></div>
            </li>
          </ul>
        </div>

        <div class="group" id="analysis">
          <span class="question" data-l10n-id="analysis-intro"></span>
          <ul class="choices">
            <li target="https://www.mozillascience.org/projects/pathogens" data-choice-id="pathogens">PhageParser
              <div class="extra" data-l10n-id="pathogens-extra"></div>
            </li>
            <li target="https://www.mozillascience.org/projects/rtanalyzer" data-choice-id="rtanalyzer">RT Analyzer
              <div class="extra" data-l10n-id="rtanalyzer-extra"></div>
            </li>
            <li target="https://www.mozillascience.org/projects/biouno" data-choice-id="biouno">BioUno
              <div class="extra" data-l10n-id="biouno-extra"></div>
            </li>
          </ul>
        </div>

        <div class="group" id="webapp">
          <span class="question" data-l10n-id="webapp-intro"></span>
          <ul class="choices">
            <li target="https://www.mozillascience.org/projects/contributorship-badges" data-choice-id="badges">Badges for Science
              <div class="extra" data-l10n-id="badges-extra"></div>
            </li>
            <li target="https://www.mozillascience.org/projects/rtanalyzer" data-choice-id="rtanalyzer">RT Analyzer
              <div class="extra" data-l10n-id="rtanalyzer-extra"></div>
            </li>
          </ul>
        </div>

        <div class="group" id="uxdesign">
          <span class="question" data-l10n-id="uxdesign-intro"></span>
          <ul class="choices">
            <li target="https://www.mozillascience.org/projects/contributorship-badges" data-choice-id="badges">Badges for Science
              <div class="extra" data-l10n-id="badges-extra"></div>
            </li>
          </ul>
        </div>

        <div id="responses">
          <div id="ok"><a href="javascript:" data-l10n-id="more"></a></div>
          <div id="next">
            <a href="javascript:">
              <span data-l10n-id="negative1" class="negative"></span>
              <span data-l10n-id="negative2" class="negative"></span>
              <span data-l10n-id="negative3" class="negative"></span>
              <span data-l10n-id="negative4" class="negative"></span>
              <span data-l10n-id="negative5" class="negative"></span>
              <span data-l10n-id="negative6" class="negative"></span>
            </a>
          </div>
          <div id="back"><a href="javascript:" data-l10n-id="back"></a></div>
          <!-- message showing only if javascript disabled -->
          <noscript>
              <span>Please enable JavaScript in your browser!</span>
          </noscript>
          <!-- end of noscript message -->
        </div>

        <div id="footer" data-l10n-id="credits"></div>
      </div>



    +footer()
    div.
      <script type="text/javascript" src="/scripts/l10n.js"></script>
      <script type="text/javascript" src="/scripts/foopy.js"></script>

