#page-projects {
  .jumbotron-fluid {
    @include img-retina('/assets/img/projects-hero.jpg','/assets/img/projects-hero@2x.jpg', cover, null);

    background-repeat: no-repeat;
    background-size: cover;
  }

  .threeUp-wrapper {
    background: $white;
  }
}
