#page-home {
  @mixin join-glyph($character) {
    font-weight: 100;
    font-size: 4.25rem;
    height: 4.375rem;
    color: $summit-teal;
    display: flex;
    content: $character;
    align-items: center;
    justify-content: center;

    @media (min-width: $bp-md) {
      position: absolute;
      top: 2.1875rem;
      left: calc(100% - 1.25rem);
    }
  }

  .jumbotron-fluid {
    @include img-retina('/assets/img/home-hero.jpg','/assets/img/home-hero@2x.jpg', cover, null);
    background-repeat: no-repeat;
    background-size: cover;

    p {
      font-style: italic;
    }
  }

  .three-up {
    margin-top: -4.5rem;
  }

  .three-up .col:first-child {
    &::after {
      @include join-glyph("+");
    }
  }

  .three-up .col:nth-child(2) {
    &::after {
      @include join-glyph("=");
    }
  }

  .fellow-cta {
    position: relative;
    display: flex;
    justify-content: flex-end;
    background: url('/assets/img/home-fellows@2x.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 12rem;
    padding-right: 0;

    @media (min-width: $bp-sm) {
      padding-top: 18rem;
    }

    @media (min-width: $bp-md) {
      padding-top: 0;
      padding-right: 6.5rem;
      background-size: 40%;
      background-position: calc(33% - 6.5rem) 0;
    }

    .sprinkle {
      position: absolute;
      max-width: 3rem;
      display: none;

      @media (min-width: $bp-md) {
        display: inline-block;
      }

      &.sprinkle:nth-child(1) {
        top: 1rem;
        max-width: 2rem;
        left: 5%;
      }

      &.sprinkle:nth-child(2) {
        top: 7rem;
        left: 0;
      }
    }

    .shadow-box {
      margin-left: 5%;

      @media (min-width: $bp-md) {
        width: 66%;
        margin: 4rem 0;
      }
    }
  }
  
  .whats-new {
    background: url('/assets/img/home-bg-parallax@2x.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;

    h3 {
      font-size: 1.75rem;
      color: $white;
    }

    .whats-new-item {
      display: flex;
    }

    .shadow-box {
      text-align: left;
      display: flex;

      h6 {
        text-transform: uppercase;
        font-size: 0.875rem;
        font-weight: 400;
      }

      h4 {
        font-size: 1.625rem;
        font-weight: 100;
        color: $mobile-blue;
      }
    }
  }

  .event-study-cta {
    color: $white;

    img {
      width: 100%;
      height: 100%;
    }

    h3 {
      color: $white;
    }

    p {
      color: $white;
    }

    .btn {
      background: none;
      border: 0.0625rem solid $white;
      color: $white;
    }

    > :nth-child(1) {
      background: lighten($mobile-blue, 15%);
    }

    > :nth-child(2) {
      background: lighten($nightly-blue, 15%);
    }
  }

  .supporters {
    background: $white;
  }
}
