#page-home {
  @mixin join-glyph($character) {
    font-weight: 100;
    font-size: 4.25rem;
    height: 4.375rem;
    color: $summit-teal;
    display: flex;
    content: $character;
    align-items: center;
    justify-content: center;

    @media (min-width: $bp-md) {
      position: absolute;
      top: 2.1875rem;
      left: calc(100% - 1.25rem);
    }
  }

  .three-up .col:first-child .copy {
    &::after {
      @include join-glyph("+");
    }
  }

  .three-up .col:nth-child(2) .copy {
    &::after {
      @include join-glyph("=");
    }
  }
}
