#footer {
  .newsletter {
    padding: 2.5rem 0;
    background: lighten($aurora-purple, 15%);
    color: $white;

    .row {
      &:first-child {
        padding-top: 0;
      }

      &:nth-child(2) {
        text-align: center;
      }

      padding: 0.3125rem 0;
      align-items: center;
      justify-content: right;
    }

    h3 {
      color: $white;
      font-size: 1.5625rem;
      font-weight: 200;
      letter-spacing: 0.02em;
    }

    a {
      color: $white;
      text-decoration: underline;
    }

    .one-shot {
      font-size: 0.9375rem;
      display: flex;
      flex-direction: column;

      input {
        &::placeholder {
          color: $white;
        }

        padding: 0.3125rem 0.625rem;
        border: 0.0625rem solid $white;
        background: rgba($white, 0.2);
        color: $white;
        font-style: italic;
        font-weight: 400;
        min-width: 17em;
        width: auto;
      }

      @media screen and (min-width: $bp-sm) {
        flex-direction: row;
        justify-content: center;
      }

      @media screen and (min-width: $bp-md) and (max-width: $bp-lg) {
        input {
          min-width: inherit;
        }
      }

      @media screen and (min-width: $bp-md) {
        justify-content: flex-start;

        input,
        button {
          flex: 0 auto;
        }
      }

      button {
        margin-top: 0.5em;
        text-transform: uppercase;
        border-radius: 0;

        @media screen and (min-width: $bp-sm) {
          border-left: 0;
          margin-top: 0;
        }
      }
    }

    label {
      font-size: 0.9375rem;
      font-weight: 300;

      span {
        margin-left: 0.5em;
      }
    }
  }

  .mofooter {
    color: $white;
    text-align: center;
    padding: 2.8125rem 0.625rem;

    .icon-container {
      margin: 1.25rem 0;

      .icon {
        cursor: pointer;
        display: inline-block;
        font-weight: 300;
        font-size: 1rem;

        img {
          width: 1.25rem;
        }

        .footer-icon {
          opacity: 0.5;
        }

        a {
          color: $white;
          opacity: 0.5;
          text-decoration: none;
        }

        &:hover {
          a,
          .footer-icon {
            opacity: 1;
          }
        }
      }
    }

    .footer-content {
      max-width: 35.625rem;
      margin: 0 auto;

      p {
        font-size: 0.875rem;
        color: rgba($white, 0.5);

        a {
          color: rgba($white, 0.8);

          &:hover {
            color: rgba($white, 1);
          }
        }
      }
    }

    .icons {
      margin-bottom: 1.25rem;
    }

    .logo {
      margin-bottom: 1.25rem;
      padding-bottom: 1.25rem;
      border-bottom: 0.0625rem solid #666;
      display: inline-block;

      @media screen and (min-width: $bp-md) {
        border-bottom: 0;
        border-right: 0.0625rem solid #666;
        padding-bottom: 0;
        padding-right: 1.25rem;
        margin-bottom: 0;
        margin-right: 1.25rem;
      }
    }

    @media screen and (max-width: $bp-md) {
      .icon-container {
        display: inline-block;
        margin: 0.175rem 1.25rem;

        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 2.8125rem;
        }

        .footer-icon {
          margin: 0.375rem 0.475rem 0.375rem 0;
        }
      }
    }

    @media screen and (min-width: $bp-md) {
      .footer-content {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: center;

        .footer-icon {
          margin-left: 0.625rem;
        }

        p {
          text-align: left;
          width: calc(100% - 10.375rem);
        }
      }

      .icon-container {
        display: inline-block;
        margin: 0 1.125rem;

        .icon {
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .footer-icon {
            margin: 0 0.625rem 0 0;
            display: inline-block;
          }
        }
      }
    }
  }
}
