#project-details {
  .visit-repo {
    background: transparent;
    text-transform: uppercase;
  }
  .user-list + .user-list {
    margin-left: 1em;
  }
  ul li {
    font-size: 1rem;
    margin: 0;
  }
}
