.project-card-wrapper {
  display: flex;
}

.project-card {
  background: $white;
  position: relative;
  margin: 2rem 0;
  padding: 1rem;
  font-weight: 300;
  width: 100%;
  .featured-image {
    margin: 0 -1em;
    width: calc(100% + 2em);
    max-width: inherit;
    transform: translateY(-1rem);
  }
  .project-name {
    display: block;
    font-size: 1.7rem;
  }
}

.categories,
.categories:not(:empty) ~ * {
  transform: translateY(-1rem);
}

.category-tag {
  display: inline-block;
  transform: translateY(-50%);
  background: lighten($aurora-purple, 15%);
  padding: 0.25em 0.5em;
  color: $white;
  text-transform: uppercase;
  font-size: 0.75rem;
  + .category-tag {
    margin-left: 0.5em;
  }
}

.profile-photo {
  border-radius: 50%;
}

.project-tag + .project-tag::before {
  content: ', ';
}
