include ../partials/head.jade
include ../partials/header.jade
include ../partials/connect.jade
include ../partials/footer.jade

-var page = "Workshop Request"

doctype html5
html
  head
    +head(page)
  body
    +header(loggedIn, page)
    div.page-wrapper

      div.splash
        h1 Request a Workshop
        p Host a workshop at your institution

      div.pure-u-1

          script(type='text/javascript').
            var submitted=false;
          iframe#hidden_iframe(name='hidden_iframe', style='display:none;', onload="if(submitted)\
          {window.location='/training/confirm';}")


          .ss-form-container
            .ss-header-image-container
              .ss-header-image-image
                .ss-header-image-sizer
            .ss-top-of-page
              .ss-form-heading
                //.ss-required-asterisk(aria-hidden='true') * Required
            .ss-form
              form#ss-form(action='https://docs.google.com/a/mozillafoundation.org/forms/d/1KVT0kp7nqkO_Ut3gUIZ1hSGDHXKinNfe3qLEu5lP6tg/formResponse', method='POST', target='hidden_iframe', onsubmit='submitted=true;')
                ol.ss-question-list(role='list', style='padding-left: 0')
                  div.pure-u-1.content.content-contrast.l-box-lg
                    div.pure-u-md-1-3
                      .ss-form-question.errorbox-good(role='listitem')
                        .ss-item.ss-item-required.ss-text(dir='ltr')
                          .ss-form-entry
                            label.ss-q-item-label(for='entry_1668146427')
                              .ss-q-title
                                | Name
                                label(for='itemView.getDomIdToLabel()', aria-label='(Required field)')
                                span.ss-required-asterisk(aria-hidden='true') *
                              .ss-q-help.ss-secondary-text(dir='ltr')
                            input#entry_1668146427.ss-q-short(name='entry.1668146427', value=(loggedIn ? user.name : ''), dir='auto', aria-label='Name  ', aria-required='true', required='', title='', type='text')
                            #1182329987_errorMessage.error-message
                            .required-message This is a required question

                      .ss-form-question.errorbox-good(role='listitem')
                        .ss-item.ss-item-required.ss-text(dir='ltr')
                          .ss-form-entry
                            label.ss-q-item-label(for='entry_2137762889')
                              .ss-q-title
                                | Email
                                label(for='itemView.getDomIdToLabel()', aria-label='(Required field)')
                                span.ss-required-asterisk(aria-hidden='true') *
                              .ss-q-help.ss-secondary-text(dir='ltr')
                            input#entry_2137762889.ss-q-short(name='entry.2137762889', value=(loggedIn ? user.email : ''), dir='auto', aria-label='Email  ', aria-required='true', required='', title='', type='text')
                            #1249410512_errorMessage.error-message
                            .required-message This is a required question
                    div.pure-u-md-1-3


                      .ss-form-question.errorbox-good(role='listitem')
                        .ss-item.ss-text(dir='ltr')
                          .ss-form-entry
                            label.ss-q-item-label(for='entry_1575521685')
                              .ss-q-title
                                | Affiliation
                              .ss-q-help.ss-secondary-text(dir='ltr')
                            input#entry_1575521685.ss-q-short(name='entry.1575521685', value='', dir='auto', aria-label='Affiliation University or Company ', title='', type='text' placeholder='University or Company')
                            #1994274297_errorMessage.error-message
                            .required-message This is a required question


                      .ss-form-question.errorbox-good(role='listitem')
                        .ss-item.ss-item-required.ss-text(dir='ltr')
                          .ss-form-entry
                            label.ss-q-item-label(for='entry_1500512892')
                              .ss-q-title
                                | Location
                                label(for='itemView.getDomIdToLabel()', aria-label='(Required field)')
                                span.ss-required-asterisk(aria-hidden='true') *
                              .ss-q-help.ss-secondary-text(dir='ltr')
                            input#entry_1500512892.ss-q-short(name='entry.1500512892', value='', dir='auto', aria-label='Location City, Province or State, Country ', aria-required='true', required='', title='', type='text', placeholder='City, Province/State, Country')
                            #2118993558_errorMessage.error-message
                            .required-message This is a required question
                    div.pure-u-md-1-3
                      .ss-form-question.errorbox-good(role='listitem')
                        .ss-item.ss-text(dir='ltr')
                          .ss-form-entry
                            label.ss-q-item-label(for='entry_1903922456')
                              .ss-q-title
                                | Preferred Workshop Date
                              .ss-q-help.ss-secondary-text(dir='ltr')
                                | Please indicate when you would like to run the workshop. A range of a few weeks is most helpful, although we will try and accommodate requests to run workshops alongside conferences etc.
                            input#entry_1903922456.ss-q-short(name='entry.1903922456', value='', dir='auto', aria-label='Preferred workshop date Please indicate when you would like to run the workshop. A range of a few weeks is most helpful, although we will try and accommodate requests to run workshops alongside conferences etc. ', title='', type='text')
                            #1475530883_errorMessage.error-message
                            .required-message This is a required question

                  .ss-item.ss-navigate
                    table#navigation-table
                      tbody
                        tr
                          td#navigation-buttons.ss-form-entry.goog-inline-block(dir='ltr')
                            br
                            input#ss-submit.jfk-button.jfk-button-action(name='submit', value='Request Workshop', type='submit').pure-button.pure-button-lg


                  h3 Additional Optional Information

                  div.pure-u-1.content.content-contrast.l-box-lg
                    div.pure-u-md-1-4
                      .ss-form-question.errorbox-good(role='listitem')
                        .ss-item.ss-radio(dir='ltr')
                          .ss-form-entry
                            label.ss-q-item-label(for='entry_543348851')
                              .ss-q-title
                                | Approx. Number of Attendees
                              .ss-q-help.ss-secondary-text(dir='ltr')
                            ul.ss-choices(role='radiogroup', aria-label='Approximate number of attendees  ')
                              li.ss-choice-item
                                label
                                  span.ss-choice-item-control.goog-inline-block
                                    input#group_894447472_1.ss-q-radio(name='entry.894447472', value='20-40 (one room, two instructors)', role='radio', aria-label='20-40 (one room, two instructors)', type='radio')
                                  span.ss-choice-label
                                    | 20-40
                                    span.ss-secondary-text  (one room, two instructors)
                              li.ss-choice-item
                                label
                                  span.ss-choice-item-control.goog-inline-block
                                    input#group_894447472_2.ss-q-radio(name='entry.894447472', value='40-80 (two rooms, four instructors)', role='radio', aria-label='40-80 (two rooms, four instructors)', type='radio')
                                  span.ss-choice-label
                                    | 40-80
                                    span.ss-secondary-text  (two rooms, four instructors)
                              li.ss-choice-item
                                label
                                  span.ss-choice-item-control.goog-inline-block
                                    input#group_894447472_3.ss-q-radio(name='entry.894447472', value='80-120 (three rooms, six instructors)', role='radio', aria-label='80-120 (three rooms, six instructors)', type='radio')
                                  span.ss-choice-label
                                    | 80-120
                                    span.ss-secondary-text   (three rooms, six instructors)
                            #543348851_errorMessage.error-message
                            .required-message This is a required question
                    div.pure-u-md-1-4
                      .ss-form-question.errorbox-good(role='listitem')
                        .ss-item.ss-checkbox(dir='ltr')
                          .ss-form-entry
                            label.ss-q-item-label(for='entry_787644646')
                              .ss-q-title
                                | Attendee Field(s)
                              .ss-q-help.ss-secondary-text(dir='ltr') The attendee's academic field(s) of study, if known
                            ul.ss-choices(role='group', aria-label="Attendee Field(s) The attendee's academic field(s) of study, if known ")
                              li.ss-choice-item
                                label
                                  span.ss-choice-item-control.goog-inline-block
                                    input#group_802707790_1.ss-q-checkbox(name='entry.802707790', value='Life sciences', role='checkbox', type='checkbox')
                                  span.ss-choice-label Life sciences
                              li.ss-choice-item
                                label
                                  span.ss-choice-item-control.goog-inline-block
                                    input#group_802707790_2.ss-q-checkbox(name='entry.802707790', value='Earth sciences', role='checkbox', type='checkbox')
                                  span.ss-choice-label Earth sciences
                              li.ss-choice-item
                                label
                                  span.ss-choice-item-control.goog-inline-block
                                    input#group_802707790_3.ss-q-checkbox(name='entry.802707790', value='Chemistry', role='checkbox', type='checkbox')
                                  span.ss-choice-label Chemistry
                              li.ss-choice-item
                                label
                                  span.ss-choice-item-control.goog-inline-block
                                    input#group_802707790_4.ss-q-checkbox(name='entry.802707790', value='Physics', role='checkbox', type='checkbox')
                                  span.ss-choice-label Physics
                              li.ss-choice-item
                                label
                                  span.ss-choice-item-control.goog-inline-block
                                    input#group_802707790_5.ss-q-checkbox(name='entry.802707790', value='Space sciences', role='checkbox', type='checkbox')
                                  span.ss-choice-label Space sciences
                              li.ss-choice-item
                                label
                                  span.ss-choice-item-control.goog-inline-block
                                    input#group_802707790_6.ss-q-checkbox(name='entry.802707790', value='Mathematics', role='checkbox', type='checkbox')
                                  span.ss-choice-label Mathematics
                              li.ss-choice-item
                                label
                                  span.ss-choice-item-control.goog-inline-block
                                    input#group_802707790_7.ss-q-checkbox(name='entry.802707790', value='Engineering', role='checkbox', type='checkbox')
                                  span.ss-choice-label Engineering
                              li.ss-choice-item
                                label
                                  span.ss-choice-item-control.goog-inline-block
                                    input#group_802707790_8.ss-q-checkbox(name='entry.802707790', value='Healthcare', role='checkbox', type='checkbox')
                                  span.ss-choice-label Healthcare
                              li.ss-choice-item
                                label
                                  span.ss-choice-item-control.goog-inline-block
                                    input#group_802707790_9.ss-q-checkbox(name='entry.802707790', value='Library sciences', role='checkbox', type='checkbox')
                                  span.ss-choice-label Library sciences
                              li.ss-choice-item
                                label
                                  span.ss-choice-item-control.goog-inline-block
                                    input#group_802707790_10.ss-q-checkbox(name='entry.802707790', value='Education', role='checkbox', type='checkbox')
                                  span.ss-choice-label Education
                              li.ss-choice-item
                                label
                                  span.ss-choice-item-control.goog-inline-block
                                    input#group_802707790_11.ss-q-checkbox(name='entry.802707790', value='Computer Sciences', role='checkbox', type='checkbox')
                                  span.ss-choice-label Computer Sciences
                              //li.ss-choice-item
                                label
                                  span.ss-choice-item-control.goog-inline-block
                                    input#group_802707790_12.ss-q-checkbox(name='entry.802707790', value="Don't know yet", role='checkbox', type='checkbox')
                                  span.ss-choice-label Don't know yet
                              li.ss-choice-item
                                label
                                  span.ss-choice-item-control.goog-inline-block
                                    input#group_802707790_13.ss-q-checkbox.ss-q-other-toggle(name='entry.802707790', value='__other_option__', role='checkbox', type='checkbox')
                                  span.ss-choice-label Other:
                                span.ss-q-other-container.goog-inline-block
                                  input#entry_802707790_other_option_response.ss-q-other(name='entry.802707790.other_option_response', value='', dir='auto', aria-label='Other', type='text')
                            #787644646_errorMessage.error-message
                            .required-message This is a required question
                    div.pure-u-md-1-4
                      .ss-form-question.errorbox-good(role='listitem')
                        .ss-item.ss-checkbox(dir='ltr')
                          .ss-form-entry
                            label.ss-q-item-label(for='entry_645898165')
                              .ss-q-title
                                | Attendees' Academic Level
                              .ss-q-help.ss-secondary-text(dir='ltr')
                            ul.ss-choices(role='group', aria-label="Attendees' Academic Level  ")
                              li.ss-choice-item
                                label
                                  span.ss-choice-item-control.goog-inline-block
                                    input#group_240204236_1.ss-q-checkbox(name='entry.240204236', value='Undergraduate or below', role='checkbox', type='checkbox')
                                  span.ss-choice-label Undergraduate or below
                              li.ss-choice-item
                                label
                                  span.ss-choice-item-control.goog-inline-block
                                    input#group_240204236_2.ss-q-checkbox(name='entry.240204236', value='Graduate', role='checkbox', type='checkbox')
                                  span.ss-choice-label Graduate
                              li.ss-choice-item
                                label
                                  span.ss-choice-item-control.goog-inline-block
                                    input#group_240204236_3.ss-q-checkbox(name='entry.240204236', value='Post-doctorate', role='checkbox', type='checkbox')
                                  span.ss-choice-label Post-doctorate
                              li.ss-choice-item
                                label
                                  span.ss-choice-item-control.goog-inline-block
                                    input#group_240204236_4.ss-q-checkbox(name='entry.240204236', value='Faculty', role='checkbox', type='checkbox')
                                  span.ss-choice-label Faculty
                              li.ss-choice-item
                                label
                                  span.ss-choice-item-control.goog-inline-block
                                    input#group_240204236_5.ss-q-checkbox(name='entry.240204236', value='Industry', role='checkbox', type='checkbox')
                                  span.ss-choice-label Industry
                              //li.ss-choice-item
                                label
                                  span.ss-choice-item-control.goog-inline-block
                                    input#group_240204236_6.ss-q-checkbox(name='entry.240204236', value="Don't know yet", role='checkbox', type='checkbox')
                                  span.ss-choice-label Don't know yet
                            #645898165_errorMessage.error-message
                            .required-message This is a required question
                    div.pure-u-md-1-4
                      .ss-form-question.errorbox-good(role='listitem')
                        .ss-item.ss-checkbox(dir='ltr')
                          .ss-form-entry
                            label.ss-q-item-label(for='entry_743454610')
                              .ss-q-title
                                | Level of Computing Experience
                              .ss-q-help.ss-secondary-text(dir='ltr')
                                | Indicate the attendee's level of computing experience, if known. This can be an approximation.
                            ul.ss-choices(role='group', aria-label="Level of Computing Experience Indicate the attendee's level of computing experience, if known. This can be an approximation. ")
                              li.ss-choice-item
                                label
                                  span.ss-choice-item-control.goog-inline-block
                                    input#group_1207853458_1.ss-q-checkbox(name='entry.1207853458', value='Novice (no experience writing code)', role='checkbox', type='checkbox')
                                  span.ss-choice-label
                                    | Novice
                                    span.ss-secondary-text  (no experience writing code)
                              li.ss-choice-item
                                label
                                  span.ss-choice-item-control.goog-inline-block
                                    input#group_1207853458_2.ss-q-checkbox(name='entry.1207853458', value='Intermediate (can write a few lines of code)', role='checkbox', type='checkbox')
                                  span.ss-choice-label
                                    | Intermediate
                                    span.ss-secondary-text  (can write a few lines of code)
                              li.ss-choice-item
                                label
                                  span.ss-choice-item-control.goog-inline-block
                                    input#group_1207853458_3.ss-q-checkbox(name='entry.1207853458', value='Proficient (can write and share a program with others)', role='checkbox', type='checkbox')
                                  span.ss-choice-label
                                    | Proficient
                                    span.ss-secondary-text  (can write and share a program with others)
                              //li.ss-choice-item
                                label
                                  span.ss-choice-item-control.goog-inline-block
                                    input#group_1207853458_4.ss-q-checkbox(name='entry.1207853458', value="Don't know yet", role='checkbox', type='checkbox')
                                  span.ss-choice-label Don't know yet
                            #743454610_errorMessage.error-message
                            .required-message This is a required question



                  .ss-form-question.errorbox-good(role='listitem')
                    .ss-item.ss-paragraph-text(dir='ltr')
                      .ss-form-entry
                        label.ss-q-item-label(for='entry_2010139358')
                          h3 Anything Else?
                          .ss-q-help.ss-secondary-text(dir='ltr') What else do you want us to know about your workshop / attendees / you?
                        textarea#entry_2010139358.ss-q-long.valid(name='entry.2010139358', rows='8', cols='0', dir='auto', aria-label='Anything else? What else do you want to know about your workshop / attendees / you? ')
                        #1371799799_errorMessage.error-message
                        .required-message This is a required question
                  input(name='draftResponse', value='[,,"-4104434733031085375"]\
                  ', type='hidden')
                  input(name='pageHistory', value='0', type='hidden')
                  input(name='fbzx', value='-4104434733031085375', type='hidden')
                  .ss-item.ss-navigate
                    table#navigation-table
                      tbody
                        tr
                          td#navigation-buttons.ss-form-entry.goog-inline-block(dir='ltr')
                            input#ss-submit.jfk-button.jfk-button-action(name='submit', value='Request Workshop', type='submit').pure-button.pure-button-lg




    +footer()

