include ../partials/head.jade
include ../partials/header.jade
include ../partials/footer.jade


doctype html5
html
  head
    +head('About Collaborate')
  body
    +header(loggedIn, "Collaborate")
    div.page-wrapper



      section.about.splash
        h1 About Science Lab Collaborate

      div.header-img.content.content-contrast.is-center
          div.l-box-lg.pure-u-1.pure-u-md-1-2.pure-u-lg-1-3
              h1.content-subhead
                i.fa.fa-link
                h3.content-subhead What we're doing
              p
                | We're studying how to help coders, designers and researchers collaborate to build new tools for science. We've curated code projects you can contribute to.
            div.l-box-lg.pure-u-1.pure-u-md-1-2.pure-u-lg-1-3
              h1.content-subhead
                i.fa.fa-users
              h3.content-subhead How you can help
              p
                | You don't need to be a scientist to get involved. There's something for designers, developers, researchers, communicators and all our contributors.
            div.l-box-lg.pure-u-1.pure-u-md-1-2.pure-u-lg-1-3
              h1.content-subhead
                i.fa.fa-heart
              h3.content-subhead Open & sharing
              p
                | In the spirit of open, all projects and their outputs are openly licensed, making them easy to share and reuse with the community.

      section
        h2 Empowering the research community to solve problems and build new tools together.
        p
          | Science Lab Collaborate is a curated list of open source software projects helping further science on the web from both the Science Lab and the broader community. Over the next few months, we'll be testing out new ways for the community to work together on research projects across disciplines and specialties, both within academia and outside. Part of the Science Lab’s mission is to work with other community members to work collaboratively on projects that move science on the web forward. This pilot will test out ways to better communicate and facilitate means for others to get involved in a wide variety of research projects outside of their domain, and see how we can further break down siloes by working on open research projects together.

        h2 History
        p
          | This program was first
          a(href="https://www.youtube.com/watch?v=hIs1fWumaXU")  announced
          |  as "Interdisciplinary Programming" by Angelina Fabbro (
          a(href="https://twitter.com/hopefulcyborg") @hopefulcyborg
          | ) and Bill Mills (
          a(href="https://twitter.com/billdoesphysics") @billdoesphysics
          | ) at
          a(href="https://thestrangeloop.com/")  Stange Loop
          |  and
          a(href="http://2013.lxjs.org/")  LXJS
          |  in 2013. Since then, it has evolved into the Mozilla Science Lab's pilot on contributorship - we're hoping to build on this program and learn about how our whole community can work together! You can read the
          a(href="http://mozillascience.org/bringing-researchers-and-developers-together-a-call-for-proposals/")  original call for proposals here
          | .

        h2(id='FAQ') FAQ
        b Do I have to be a scientist to help?
        p No! We've tried to tease out tasks that are specially suited for designers, developers and contributors with no knowledge of the relevant science. If you have questions about the science involved, the project leads and the MSL team would be happy to try and sort them out - but all that's required is enthusiasm!

        b Can I submit my project?
        //p
          | Yes!
          a(href='/projects/submit')  Fill out this form
          |  to submit a project for review
        p Submissions are currently closed for Collaborate.


        b What is Mozilla’s role in Collaborate?
        p Projects on Collaborate are community driven. Mozilla’s role is limited to helping connect project owners with volunteer help. Mozilla does not endorse or provide support, financial or otherwise, for any of the active projects on the site.

        b What is the role of owners of Collaborate projects?
        p Project owners are responsible for project maintenance, including code review & contribution merging. Project owners should actively engage with volunteers, including individually welcoming them to the project and helping to get them oriented and involved. Active engagement with volunteers helps projects succeed and improves the experience for everyone.

        b I have an active project on Collaborate. How may I describe my relationship with Mozilla?
        p Owners of Collaborate projects may describe them as "supported by Mozilla Science Lab” and/or  “Part of Mozilla Science Lab’s Collaborate initiative.”

        b How can I help?
        p If you're interested in contributing, when you find a project you're interested in, just click the 'Join Project!' button to begin. The project lead will be notified and you can work together to see where your skills can help the project.
        //p
          | If you have an open source project for science,
          a(href='/projects/submit')  submit your project for review
          | . We're always looking for new projects to add.




    +footer()

