include ../partials/head.jade
include ../partials/header.jade
include welcome.jade
include ../partials/footer.jade
include ../partials/stub.jade

-var page = "Collaborate"

doctype html5
html
  head
    +head(page)
  body
    +header(loggedIn, page)
    div.page-wrapper
      section
        +welcome()

      if(user && user.role == 'admin')
        div
          a(href="/collaborate/all") Admin view
      if(user)
        section.projectList
          div.pure-g
            div.pure-u-1.pure-u-1-4
              h2 MY PROJECTS
              i Here are your projects.  Have a question? Read our
              a(href="/collaborate/about#FAQ")  FAQ
              |  or
              a(href='/projects/submit')  submit a new project
              | .
            div.pure-u-1.pure-u-3-4

          div#my-projects


      section.projectList
        div.pure-g
          div.pure-u-1.pure-u-1-4
            h2 PROJECTS
            i
              | Here are a few projects that could use your help. Have a question? Read our
              a(href="/collaborate/about#FAQ")  FAQ
              |  or
              a(href='mailto:sciencelab@mozillafoundation.org')  get in touch
              | .
          div.pure-u-1.pure-u-3-4

        div#content


        div
          br
          br
          a.pure-button.pure-button-lg(href="/projects/submit") Submit your project
          br
          br
          i
            | Have a question? Read more
            a(href="/collaborate/about")  about this program
            |  or
            a(href='mailto:sciencelab@mozillafoundation.org')  get in touch
            | .
    +footer()

