mixin welcome
  div.splash
      h1 Collaborate on Software for Science
      p We're testing out new ways to help the Science Lab community build tools and solve problems together.
        a(href="/collaborate/about")  Read more &nbsp;
          span.fa.fa-chevron-right
  div
      div.header-img.content.content-contrast.is-center
          div.l-box-lg.pure-u-1.pure-u-md-1-2.pure-u-lg-1-3
              h1.content-subhead
                i.fa.fa-link
                h3.content-subhead What we're doing
              p
                | We're studying how to help coders, designers and researchers collaborate to build new tools for science. We've curated code projects you can contribute to.
            div.l-box-lg.pure-u-1.pure-u-md-1-2.pure-u-lg-1-3
              h1.content-subhead
                i.fa.fa-users
              h3.content-subhead How you can help
              p
                | You don't need to be a scientist to get involved. There's something for designers, developers, researchers, communicators and all our contributors.
                b  See our list of projects below.
            div.l-box-lg.pure-u-1.pure-u-md-1-2.pure-u-lg-1-3
              h1.content-subhead
                i.fa.fa-heart
              h3.content-subhead Open & sharing
              p
                | In the spirit of open, all projects and their outputs are openly licensed, making them easy to share and reuse with the community.



