mixin welcome
  div.splash
      h1 Collaborate
      p Featured software projects for science in Collaborate

      div.is-center(id="featured-projects")



  div
      p We're testing out new ways to help the Science Lab community build tools and solve problems together.
        a(href="/collaborate/about")  Read more &nbsp;
          span.fa.fa-chevron-right
