.jumbotron {
  background: grey;
}

.jumbotron-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;

  > * {
    max-width: $bp-md;
  }

  a:link {
    color: $mobile-blue;
  }

  p {
    color: $white;
  }
}
