.project-card-featured {
  background: $white;

  .categories {
    position: absolute;
    transform: translateY(-1rem);
  }
}

.detail-label {
  color: lighten($charcoal, 15%);
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 300;
  margin: 0;
}

.project-card-details {
  padding: 1rem;
}

.comma-list + .comma-list::before {
  content: ', ';
}

.project-card-detail-set + .project-card-detail-set {
  margin-top: 1em;
}
