#page-fellowships {
  .jumbotron-fluid {
    @include img-retina('/assets/img/hero-fellows.jpg','/assets/img/hero-fellows@2x.jpg', cover, null);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .icon-item {
    > :first-child {
      display: flex;
      justify-content: center;
    }

    .icon {
      width: 1.66rem;
      flex: 0 1;
    }
  }

  .fellow-cta {
    background: lighten($developer-blue, 20%);
    text-align: center;

    &,
    h3,
    p {
      color: $white;
    }
  }
}
