#page-fellowships {
  .jumbotron-fluid {
    @include img-retina('/assets/img/hero-fellows.jpg','/assets/img/hero-fellows@2x.jpg', cover, null);

    background-repeat: no-repeat;
    background-size: cover;
  }

  .icon-item {
    > :first-child {
      display: flex;
      justify-content: center;
    }

    .icon {
      width: 1.66rem;
      max-height: 1.66rem;
      flex: 0 auto;
    }
  }

  .fellow-cta {
    background: #98a5c5;
    text-align: center;

    &,
    h3,
    p {
      color: $white;
    }
  }

  .btn-white {
    background: none;
    border: 0.0625rem solid $white;
    color: #fff;
  }

  .btn-white:hover {
    color: #5a6ba4;
    background-color: #fff;
  }

  .btn-white:focus {
    color: #5a6ba4;
    background-color: #fff;
  }

  .btn-white:active {
    color: #5a6ba4;
    background-color: #fff;
  }
}
