#study-groups {
  .jumbotron-fluid {
    @include img-retina('/assets/img/hero-studygroup.jpg', '/assets/img/hero-studygroup@2x.jpg', cover, null);

    background-repeat: no-repeat;
    background-size: cover;
  }

  .rc-collapse {
    columns: 1;

    // @media screen and (min-width: $bp-lg) {
    //   columns: 2;
    //   -moz-columns: 1;
    // }
  }

  .rc-collapse * {
    break-inside: avoid;
  }

  h3 {
    font-size: 2.2rem;
  }

  .panel {
    padding-top: 3rem;
  }

  .start-a-group {
    font-style: italic;
  }

  .rc-collapse {
    min-height: 23rem;
  }
}
