include ../partials/head.jade
include ../partials/header.jade
include ../partials/footer.jade

-var page = "401"

doctype html5
html
  head
    +head(page)
  body
    +header(loggedIn, page)
    div.page-wrapper.user-page
      section.project
        div
          h1 401
          p You must be logged in to access this area.


    +footer()