$cardPadding: 1.25rem;

.data-card-wrapper {
  display: flex;
}

.data-card {
  background: $white;
  position: relative;
  margin: 2rem 0;
  padding: $cardPadding;
  font-weight: 300;
  .card-image {
    margin: 0 -1*$cardPadding;
    width: calc(100% + #{$cardPadding*2});
    max-width: inherit;
    transform: translateY(-1*$cardPadding);
  }
  .categories,
  .categories:not(:empty) ~ * {
    transform: translateY(-1*$cardPadding);
  }
  .category-tag {
    transform: translateY(-50%);
  }
}
