.three-up {
  h6 {
    color: $charcoal;
    font-weight: 400;
  }

  .col {
    margin-bottom: 1em;
    width: 100%;
    text-align: center;

  }

  .icon {
    margin: 0 auto 1.25rem auto;

    @include make-row();
    img {
      @include make-col();
      @include make-col-span(4);
      @include make-col-push(4);
    }
  }

  .icon.circle {
    margin-left: auto;
    margin-right: auto;
    img {
      @include make-col();
      @include make-col-span(8);
      @include make-col-push(0);
    }

    border-radius: 50%;
    background: $summit-teal;
    width: 8.25rem;
    height: 8.25rem;
    display: flex;
    justify-content: center;
    align-items: center;

  }
}
