.three-up {
  h6 {
    color: $charcoal;
    font-weight: 400;
  }

  .col {
    margin-bottom: 1em;
    width: 100%;
    text-align: center;

  }

  .item-text {
    max-width: 20em;
    margin: 0 auto;
  }

  .icon {
    margin: 0 auto 1.25rem auto;

    img {
      width: 25%;
      height: 100%;
    }
  }

  .icon.circle {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    background: $summit-teal;
    width: 8.25rem;
    height: 8.25rem;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 60%;
    }

  }
}
