include ../partials/head.jade
include ../partials/header.jade
include ../partials/footer.jade


doctype html5
html
  head
    +head('2015 Fellows')
  body
    +header(loggedIn, "training")
    div.page-wrapper



      section.about.splash
        h1 2015 Mozilla Fellows for Science
        p Introducing the first class of the
          a(href="/fellows")  Mozilla Fellows for Science

      p The folks chosen are representative of the change we want to see in the community, championing openness, collaboration, and mentorship in science. Over the next ten months, the Fellows will work on projects to help their local communities engage with open data, open source software and teach forward to their peers. They will also receive training and support from Mozilla to hone their skills around open source, participatory learning, and data sharing.
      p We’re thrilled to welcome the following open science leaders as the first Mozilla Fellows for Science.
      div.pure-u-1
        div.pure-u-1
          div.pure-u-1.pure-u-sm-1-4.person-card
            a(href="/u/blahah")
              img(src="https://s3.amazonaws.com/mozillascience/fellows/richard_smith_unna.jpg")
          div.pure-u-1.pure-u-sm-3-4.person-desc
            p.
              <strong>Richard Smith-Unna</strong> (<a href="http://twitter.com/blahah404">@blahah404</a>) is a computational biology PhD student at the <a href="http://www.cam.ac.uk/">University of Cambridge</a>. He is currently focused on understanding a particularly efficient kind of <a href="https://en.wikipedia.org/wiki/C4_carbon_fixation">photosynthesis called C4</a>. He develops and contributes to a wide array of open source software and teaching materials for bioinformatics, including the <a href="http://contentmine.org/">Content Mine</a>, <a href="https://solvers.io/">Solvers.io</a>, and <a href="https://github.com/BioJulia">BioJulia</a>. 
            p. 
              Learn about these projects and more on <a href="http://rik.smith-unna.com/">his blog</a>.
        div.pure-u-1
          div.pure-u-1.pure-u-sm-1-4.person-card
            a(href="/u/cbahlai")
              img(src="https://s3.amazonaws.com/mozillascience/fellows/christie_bahlai.jpg")
          div.pure-u-1.pure-u-sm-3-4.person-desc
            p.
              <strong>Christie Bahlai</strong> (<a href="http://twitter.com/cbahlai">@cbahlai</a>) is an insect ecologist and post-doctoral research associate at <a href="http://msu.edu">Michigan State University</a>.  She works with the NSF-funded <a href="http://www.lternet.edu/">Long Term Ecological Research network</a>, and is interested in how we can use big(ish) ecological data and open science approaches to help build sustainable agricultural systems. She’s an instructor with <a href="http://software-carpentry.org">Software Carpentry</a> and <a href="http://www.datacarpentry.org/">Data Carpentry</a> and maintains a blog about open science and data management called <a href="https://practicaldatamanagement.wordpress.com/">Practical Data Management</a>.
            p. 
              Learn about these projects and more on <a href="https://practicaldatamanagement.wordpress.com/">her blog</a>.
        div.pure-u-1
          div.pure-u-1.pure-u-sm-1-4.person-card
            a(href="/u/joeyklee")
              img(src="https://s3.amazonaws.com/mozillascience/fellows/joey_lee.jpg")
          div.pure-u-1.pure-u-sm-3-4.person-desc
            p.
              <strong>Joey Lee</strong> (<a href="http://twitter.com/leejoeyk">@leejoeyk</a>) is a geographer and computational media artist from San Francisco, California passionate about technological literacy and the engagement of art and science through computation and collaboration. He is co-author of <a href="http://jk-lee.com/The-Big-Atlas-of-LA-Pools">"The Big Atlas of LA Pools"</a> and co-creator of the <a href="https://www.kickstarter.com/projects/357538735/aerial-bold-kickstart-the-planetary-search-for-let">"Aerial Bold" Kickstarter project</a> (<a href="https://vimeo.com/108875406">video here</a>). He is currently based in Vancouver, Canada, balancing his time <a href="http://joeyklee.github.io/presentations/ubc_springsymposium2015/#/9">between his MSc research</a> and teaching at the <a href="http://www.ubc.ca/">University of British Columbia</a>, <a href="http://joeyklee.github.io/presentations/ubc_datavizcolloqium2015/#/8">building</a> <a href="https://github.com/joeyklee/GEOB472/tree/master/workshops/01_shapes%26code">workshops</a> around opensource tools (e.g. <a href="http://maptime.io/vancouver/">Maptime Vancouver</a>), and <a href="http://jk-lee.com/">exploring projects around geography and technology</a>. 
            p. 
              Learn about these projects and more on <a href="http://jk-lee.com/blog/">his blog</a>.

        div.pure-u-1
          div.pure-u-1.pure-u-sm-1-4.person-card
            a(href="/u/jasonbobe")
              img(src="https://s3.amazonaws.com/mozillascience/fellows/jason_bobe.jpg")
          div.pure-u-1.pure-u-sm-3-4.person-desc
            p.
              <strong>Jason Bobe</strong> (<a href="http://twitter.com/jasonbobe">@jasonbobe</a>) is Associate Professor and director of the Sharing Lab at the <a href="http://icahn.mssm.edu/departments-and-institutes/genomics">Icahn Institute for Genomics and Multiscale Biology at Mount Sinai</a> where he leads the <a href="http://resilienceproject.me/">Resilience Project</a> with Eric Schadt and Stephen Friend, a research study that aims to find and decode people who are able to avoid disease despite having genetic risk factors. He has founded two open science nonprofits, <a href="http://www.personalgenomes.org/">PersonalGenomes.org</a> &amp; <a href="http://diybio.org/">DIYbio</a>. With co-founder <a href="http://mad.printf.net/">Madeleine Ball</a>, he has created <a href="https://www.openhumans.org/">OpenHumans.org</a>, a platform that connects people and their data with researchers that practice equitable data sharing. With George Church, he coordinates the <a href="http://www.personalgenomes.org/harvard/global-network">Global Network of Personal Genome Projects,</a> now with sites in four countries. 
            p. 
              Learn about these projects and more on <a href="http://blog.jasonbobe.net/">his blog</a>.



    +footer()

