include ../partials/head.jade
include ../partials/header.jade
include ../partials/footer.jade


doctype html5
html
  head
    +head('Fellows FAQ')
  body
    +header(loggedIn, "training")
    div.page-wrapper



      section.about.splash
        h1 The Mozilla Fellows for Science
        p Frequently asked questions

      section
        p
          b I live outside of the US, UK or Canada - am I eligible?
          br
          | Unfortunately, for the first year, we're limiting the call to those in the U.S., UK, and Canada, and to life/natural sciences. That's not because we don't *want* to expand the reach and pool of Fellows - we just need to start somewhere. Our aim is to extend this in subsequent years, so do stay tuned.

        p
          b What disciplines are included in "life and natural sciences"?
          br
          |  Biology, chemistry, earth science, physics, astronomy, ecology, etc.
        p For our first year,  our call is limited to the disciplines listed above. Our plans are to extend in future years, as we know open research is as important there as it is in other disciplines, but need to unfortunately limit the scope for this first year due to grant obligations.

        p
          b I work at a research institution but not a "university" - can I still apply?
          br
          | You bet! Government funded research institutions and groups (ie., National Institutes of Health, Environmental Protection Agency, or research centers like NEON, BEACON, etc) as well as  positions in other research institutions (ie., Museum of Natural History and many Planetariums have research arms, as well) count!
        p Still unsure? Let us know - we'd be happy to talk it through.

        p
          b I'm not currently at a university or research institution - can I still apply?
          br
          | Fellows  are required to be based at a university or research institution for  the 10 month tenure. Mozilla is not responsible for placing Fellows into  other institutions.

        p
          b When are Fellowships intended to start?
          br
          | The anticipated start date for Fellows is late September, running through June 2016.

        p
          b What sort of travel is expected?
          br
          | There are a few events and times over the course of the 10 months that  fellows are expected to travel and come together at a minimum. There's  onboarding (likely late Sept / early October), the Mozilla Festival (Nov  4-6 in London), and two workweeks in 2016 - location TBD.

        p
          b I have another Fellowship / teaching commitments / course work - does that rule me out?
          br
          | Not necessarily! This is a time commitment though, and Fellows are encouraged to maintain up to 20% of their research and work through this. If you have a standing commitment that you think may affect your time, please note in your application.

        //p
          b What will I be doing for the 10 months?
          br
          | --




        p
          b I'm a pre-tenure, early career faculty member - does that rule me out?
          br
          | Not necessarily! Be sure to list your teaching commitments in the application, as there are travel obligations and expectations that we want to make sure you have adequate time for.

        p
          b Can I continue my research / teaching during the Fellowship?
          br
          | Fellows are encouraged to continue their personal research for up to 20%  of their time during the course of their fellowship (i.e., one day a  week). Fellowship applicants must have buy in from their supervisors  in   advance, and include supervisors' contact information on the  application. Advisers will be interviewed separately should applicants  move on to the second round, and their support will be a critical  consideration for acceptance of fellows.

        p
          b What role does my advisor play in this process?
          br
          | We want to make sure Fellows, as they'll be working somewhat  autonomously within their institution are in supportive environments. We  find this is best achieved with advisors who are supportive and tuned  in to the challenges around open research practice and data sharing  within the university, and are open to Fellows working more full-time  for 10 months to build momentum, teach, and collaborate to advance those  goals within those labs and research settings.

        p
          b How will I be funded over the Fellowship?
          br
          | Salary and benefits are allocated to the individual directly by monthly  stipend pre-tax, not run through institutions - and fellows are  responsible for managing the tax aspect of that (that trips people up,  we've found. :) ). No university overhead-like arrangements - the  funding goes straight to the Fellow themselves.

        br
        br
        div.pure-u-1.content-contrast.is-center.splash.email
          br
          p
            a(href="https://screendoor.dobt.co/mozilla-science-lab/mozilla-fellows-for-science/responses/new")
              button.pure-button.pure-button-lg Apply now
          p
            | Call for fellows open until
            b  August 14, 2015 at 11:59PM EDT


    +footer()

