include ../../partials/head.jade
include ../../partials/header.jade
include ../../partials/footer.jade

doctype html5
html
  head
    +head()
  body
    +header(loggedIn)
    div.page-wrapper.edit-page

      section.project
        div
          h1
            input(placeholder="Title", id='ptitle')
          p
            input(placeholder="Scientific discipline(s)", id='psubjects')

          div.pure-u-1.pure-u-md-1-4.sidebar
            div
              div#preview.crop
                img(src="/img/placeholder.png")

              input#pimage_url(type="hidden" name="pimage_url" value="/img/placeholder.png")
              input#files(type="file")
              p#status Please select a file

          div.pure-u-md-3-4
            div.pure-u-1.pure-u-lg-1-3
                i.fa.fa-user
                label= (user ? user.name : '')
            div.pure-u-1.pure-u-lg-1-3
                i.fa.fa-map-marker
                input(placeholder= "Institution", id='pinstitute', value=(user ? user.company : '') style="width:80%")

            div.pure-u-1
              p
                small= 'Tags: '
                  input#planguages(placeholder="Python, JavaScript...")
                br
                small= 'Looking for: '
                  input#pwanted(placeholder="Developers, designers...")
            div.pure-u-1
              p.summary
                textarea(id='pshort_description' placeholder="Short description")
              h3 WHAT WE'RE DOING
              p.summary
                textarea(id='pdescription' placeholder="Description")


            div.project-links
              span.pure-button.projectLink Website:
                input(placeholder="Link to project", id='pproject_url')
              span.pure-button.projectLink Go to the Repo:
                input(placeholder="GitHub url", id='prepo')



          div.pure-u-1.pure-u-md-1-4

          div.pure-u-1.pure-u-md-3-4
            div.pure-u-1#pgoals
              h3 MAIN DELIVERABLES
              p
                textarea(placeholder='New deliverable')
              p
                textarea(placeholder='New deliverable')
              p
                textarea(placeholder='New deliverable')

              h3 MORE INFORMATION
              ul.infolink(id='plinks')
                li
                  input(placeholder='Link')
                  br
                  input(placeholder='Title')

              h3 LICENSE
              div
                label
                  input(type="radio" name="license" value="MIT")
                  | MIT
              div
                label
                  input(type="radio" name="license" value="BSD")
                  | BSD
              div
                label
                  input(type="radio" name="license" value="Other" onClick="$('#license').focus()")
                  | Other:&nbsp;
                  input#license(type="text" style="width:150px")
              br
              br

            div.content-contrast.l-box-lg
              p
                i Note: Your responses in this section will not be included in your public project page
                div
                  p How many hours a week can you spend working with others on this project?
                  div
                    label
                      input(type="radio" name="hours" value="1-2 hours")
                      | 1-2 hours
                  div
                    label
                      input(type="radio" name="hours" value="2-5 hours")
                      | 2-5 hours
                  div
                    label
                      input(type="radio" name="hours" value="5+ hours")
                      | 5+ hours

              div
                p Please describe how this would benefit the scientific community
                  textarea#pscientific_need
              div
                p What learning oppourtunities are present for newcomers to this field / project?
                  textarea#plearning
            br
            div.project-links
              span.pure-button.btn-success(id='save-project', data-href='/projects') Submit Project



        div
          br
          br
          i
            | Have a question? Read more
            a(href="/projects/about")  about this program
            |  or
            a(href='mailto:sciencelab@mozillafoundation.org')  get in touch
            | .
    script(type="text/javascript" src="/scripts/s3upload.js")
    +footer()

