.shadow-box {
  > div {
    background: $white;
    padding: 1.875rem;
    position: relative;
    top: -0.3125rem;
    left: -0.3125rem;
  }

  h2 {
    font-size: 2rem;
    color: $summit-teal;
  }

  p {
    font-size: 0.9375rem;
  }

  background: $summit-teal;
}
